[2022-07-20 12:40] Adafede commented on #799
Additional bonus while switching from names to MF, fix [M]+ not to be [M+?]+

[code]

(should be around https://github.com/mzmine/mzmine3/blob/c1924863edfc71bb8af9300e7d63fccba0a6d049/src/main/java/io/github/mzmine/modules/dataprocessing/id_ion_identity_networking/ionidnetworking/IonNetworkLibrary.java#L126)

[2022-07-20 13:09] robinschmid commented on #799
oh M+? you get from IIN if we only find an in source fragment relationship so
M+? --> M-H2O+?

We need at least 2 other adducts or multimers or multiply charged to define the adduct

[2022-07-20 13:11] 2AMissinou commented on #796
Hi dear Steffen,

great think.  I started to explore this on MZmine3.1.0-beta version.

MALDI-MSI was performed using Solarix XR™ 7 Tesla FT-ICR (Bruker Daltonics, Bremen, Germany) mass spectrometer. *.imzML Files fail to load on mzMine3.1.0-beta, due to m/z values that need to be sorted in ascending order.  Below you will find a photo of the error.

![image](https://user-images.githubusercontent.

[2022-07-20 13:38] Adafede opened #808 "[bug] IIN export"
The export of IIN through the `Export to GNPS-FBMN` module does not give the same as the export through `feature network to csv`.

- It looks like the score in the GNPS output is not found in the other export and is not described
- It looks like headers  are missing in `feature network to csv`
- When using `feature network to csv` and ticking both `Export IIN edges` and `Export IIN relationship ed

[2022-07-21 11:27] tomas-pluskal opened #809 "Help - Show log file"
The Show log file function should open the actual log file that is open. Currently, it fails to do so when there are multiple MZmine instances producing multiple log files.

The java.util.Logger doesn't have any function to retrieve the filename of a log, but there is a suggested workaround using reflection:
https://stackoverflow.com/questions/38154158/how-can-i-output-the-name-of-the-current-java

[2022-07-22 08:25] robinschmid commented on #808
Some student worked on it and I was sure it was working but definitely needs updates

[2022-07-22 13:27] omokshyna opened #812 "Error in GridMass"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version: 3.1.11-beta

When launching GridMass module, the following error occurs:

![image](https://user-images.githubusercontent.com/2729783/180448621-413df473-fbf6-48dc-9c8b-c1e91c17be4d.png)

[2022-07-22 13:36] MEG311 opened #813 "Add warning to Image viewer"
At the moment, when Image viewer is selected with non-image data, nothing happens. Add a warning in case if user tries to launch it with a wrong type of data.

[2022-07-22 13:40] MEG311 opened #814 "Dialog window with specific files/feature lists is not resizing properly"
* Windows 10 Pro
* MZmine 3.11.1-beta

When resizing window the element with files/feature list is not resized proportionally. Possibly problem with the layout.

![image](https://user-images.githubusercontent.com/2729783/180451315-17766ae2-1a36-4e3f-b0bf-bce9f80be1a3.png)

[2022-07-22 20:08] etr08783 opened #817 "Error importing mzML files. m/z must be sorted in ascending order"
* My operating system: Windows 10
* My MZmine version:  MZmine3.0.0 beta

I am trying to import a large dataset of mzML files which have been converted from thermo RAW files using MSconvert. Here are my conversion parameters.

![image](https://user-images.githubusercontent.com/109824419/180517802-7d8d80b2-6eb1-40ac-8f79-d1b2472f7746.png)

When I import the dataset, some files have no issue being i

[2022-07-22 20:53] robinschmid commented on #817
Thanks for reporting. I am pretty sure we fixed in in one of the newer releases. Better try mzmine 3.1.0

In general, this is a weird behavior of msconvert or your instrument though, as spectra should be sorted by MZ. Try to also update Ms convert. There should be a second step which is usually there by default, the title maker.
Make sure to run peak picking first and then title maker. If peak pic

[2022-07-25 04:54] Adafede opened #818 "[bug] Export to GNPS-FBMN/IIMN"
### Basic information

* My operating system: MacOS
* My MZmine version: 3.1.0-beta

### What happened

According to https://mzmine.github.io/mzmine_documentation/module_docs/GNPS_export/gnps_export.html, the *comprehensive* export can be used for GNPS use. However, this does not seem to be the case. I just ran a job with the new vs legacy version, the old one works, the new one gives me the follo

[2022-07-25 10:26] sanbit876 commented on #731
I have added a dialog box which pops up with the information of the connected nodes on a mouse click on an edge
Here is the commit: https://github.com/mzmine/mzmine3/pull/753/commits/6fd5b779a6560e3b1ae7820e11b439c4b53c118e

[2022-07-25 10:38] omokshyna opened #819 "Unify help button action"
**Problem**
Help button sometimes redirects to the documentation web page, sometimes opens help window, and sometimes is completely absent.

**Solution**
In every case, when help button is present (documentation for this feature exists), redirect to the documentation web page.

[2022-07-25 14:18] robinschmid commented on #818
Did you run the quick start or the latest GNPS version. We still need to update the version that is used by the quick start.
Or maybe its not yet released but I thought @mwang87 released the version where the comprehensive data table works.

[2022-07-25 14:19] Adafede commented on #818
latest, tagged as 28.2

[2022-07-25 15:37] robinschmid commented on #818
Okay then its not released on GNPS

[2022-07-27 04:18] sbarnes-AL commented on #794
Steffen,

Apologies for the slow response – had my wife’s daughters and their children at our house for several days.

Possibly the issue is that I’m using Mzmine 3.0.10 beta on a MacBook Pro – I don’t see the “sort alphabetically” command. It was in version 2.53.

Apologies if I’ve missed the obvious!!

Regards,

Steve

From: Steffen Heuckeroth ***@***.***>
Date: Monday, July 18, 2022 at 10:45 AM

[2022-07-27 14:14] etr08783 commented on #817
Updated both MSconvert and MZmine and all the problems went away! Thanks

[2022-07-27 14:27] robinschmid commented on #817
Great

[2022-07-27 14:27] #817 closed

[2022-07-27 18:58] sbarnes-AL commented on #794
Steffan,

I’ve played a little bit more today with this issue. To get the various options to come up with a right-click, you have to simultaneously press the control key. However, this de-highlights the files that I’d previously selected to be ordered. So, a little progress, but not a winner yet. Remember I’m working on a MacBook Pro with the OS 12.4 operating system.

Steve

From: Barnes, Stephen

[2022-08-01 03:47] z840476908 opened #823 "Error importing thermo raw and mzml files"
### Basic information

* My operating system:Windows 64bit
* My MZmine version: 3.1

### What happened
I can not  import Ms files (raw and Mzml) successfully. I add the picture of the error.but i successfully imported the file in version 2.53.The file conversion software used is MSConvert
Sincerely yours,
ZC
![image](https://user-images.githubusercontent.com/106716819/182068107-883ea7e3-d4bf-4436-

[2022-08-01 07:13] robinschmid commented on #823
Hey ZC
Always good to try the latest msconvert or the thermorawfileparser.

At the same time, could you send (GDrive or similar) the raw and mzML file?

[2022-08-01 07:28] z840476908 commented on #823
The theme raw file can be imported into mzmine version v2.53 normally, I add the Raw file of the erro

[2022-08-01 07:29] z840476908 commented on #823
The raw file is too big to upload,how can i sent the raw file to you.

[2022-08-02 13:36] kaibioinfo commented on #799
Should work with all formulas. SIRIUS does not support multiple charged or multimeres, though. The latter one is something we want to implement at some point.

Intrinsical charged (empty formula) should be possible as [M]+ or [M]-.

[2022-08-02 13:52] Adafede commented on #799
I can confirm it works!

(below is an example of a hydrated sugar loss):

[code]

[2022-08-03 02:30] eburgueno commented on #663
I can confirm this bug on CentOS 7. I have also tried using a container and installing from the `.deb` release with similar results. FYI here's my (Apptainer, but a Dockerfile would be very similar) container recipe:
[code]
I will try with an older version and report back.

[2022-08-03 02:47] eburgueno commented on #663
I tried 3.0.21-beta, and the behaviour is the same.

[2022-08-03 07:44] Adafede commented on #799
@robinschmid

I couldn't manage to modify [src/main/java/io/github/mzmine/modules/io/export_features_sirius/SiriusExportTask.java](https://github.com/mzmine/mzmine3/blob/c1924863edfc71bb8af9300e7d63fccba0a6d049/src/main/java/io/github/mzmine/modules/io/export_features_sirius/SiriusExportTask.java) as I wanted, so for the moment my hack is to simply name the losses/clusters with molecular formulas,

[2022-08-03 08:01] Adafede commented on #799
@robinschmid After further investigation, it looks like something around https://github.com/mzmine/mzmine3/blob/c1924863edfc71bb8af9300e7d63fccba0a6d049/src/main/java/io/github/mzmine/modules/io/export_features_sirius/SiriusExportTask.java#L602-L604 is broken. The isotope patterns of correlated ions are not exported (see the example above, they are in the MS1 ions but not in the correlated ions).

[2022-08-03 09:47] robinschmid commented on #823
I cannot see your message it only shows a citation

[2022-08-03 09:49] robinschmid commented on #799
did you run the isotope filter or isotope finder?

[2022-08-03 09:53] Adafede commented on #799
Both, is it the issue (like the isotope filter now does not group anymore but really filters)?

[2022-08-03 09:59] robinschmid commented on #799
Both create an isotope pattern but the isotope finder has preference and will override an already detected pattern of the filter

[2022-08-03 10:01] robinschmid commented on #799
I have to clean up the ions either way but this will take a bit as I am focussed on other things for now

[2022-08-03 14:27] anbemp opened #828 "Adduct filtering do not annotate adducts"
### Basic information

* My operating system: Windows 11 Pro, 64 bits
* My MZmine version: MZmine 3.1.0 beta

### What happened

I am trying to remove adducts from the Feature grouping, Relations between compounds (IINS); but a new feature list is not created in this step and the previous feature list (after processing adducts grouping) does not contain annotation nor removal of [M+Na]+, [M+NH4]+

[2022-08-04 07:00] z840476908 commented on #823
The raw file is too big to upload, so, i only can show these pictures.
![image](https://user-images.githubusercontent.com/106716819/182783644-f3ad6e74-1dbe-4f70-90ee-05048db9405c.png)
![image](https://user-images.githubusercontent.com/106716819/182783812-5ce0cb29-dfee-4c8f-836f-54baacc8e053.png)

[2022-08-04 07:00] z840476908 commented on #823
The theme raw file can be imported into mzmine version v2.53 successfully,but failed in v3.10

[2022-08-04 08:36] robinschmid commented on #828
did you apply metaCorrelate for feature grouping and ion identity molecular networking?

You can use the batch wizard to create a batch that contains those steps:
![image](https://user-images.githubusercontent.com/10366914/182800891-141ae45f-37c6-46c1-baad-ff4db886a606.png)

![image](https://user-images.githubusercontent.com/10366914/182800999-01c9dc6f-8fec-4290-89fe-180d606f5586.png)

[2022-08-04 11:06] Salchi58 opened #830 "MZmine 3 in Win7 Pro"
### Basic information

* My operating system: Windows 7 Pro (SP1) - 64bit Intel Xeon E5-2620v2 double processor - 64Gb RAM (I have to stick to W7 because of the Waters software to drive my Xevo G2-XS Q-Tof)

* My MZmine version: 3.1.0

### What happened

* Please describe what happened and how it differs from what you expected to happen: : both the installed and portable versions exit upon errors

[2022-08-05 05:15] L07uotuo opened #833 "The sorting function in the chemical formula prediction module is not working well."
* My operating system: Win10
* My MZmine version: mzmine3-3.1.0-beta (Also in Mzmine 2 too)

The lists of the predicted formulas are not successfully sorted based on the set weight. The results seem always to be based on the ppm distance by default.

Btw, is it possible to add a function to set the confidence in the "element count heuristics" restriction, since I believe for most cases, a cover ra

[2022-08-05 08:03] anbemp commented on #828
Thank you very much for your reply. I did not know I had to group the features before annotating the adducts. This batch queue workflow is very useful.

[2022-08-05 08:03] #828 closed

[2022-08-07 09:23] SteffenHeu commented on #830
Hi salchi,

it seems like a general error with the executable. Can you run any other of our releases? https://github.com/mzmine/mzmine3/releases

Can you run it on other computers?

[2022-08-07 15:28] Salchi58 commented on #830
Hi Steffen. I can run any 2.x release on that PC, but no 3.x seems to work. 3.x is working ok on other systems (e.g. my laptop and other desktop PCs running W10). I'd like to use that specific PC because it's the most powerful I have access to.

[2022-08-08 11:59] roman-bushuiev opened #836 "Export to .mzML utilizes too much RAM and crashes."
### Basic information

* My operating system: macOS
* My MZmine version: 3.0.54-beta
* Input file: [peak/P4_Data/5C3_RC3_01_5370.mzXML from MSV000079398](https://massive.ucsd.edu/ProteoSAFe/dataset_files.jsp?task=e192ae5d2d2d4bfd9523ff127840ae8b#%7B%22table_sort_history%22%3A%22main.collection_asc%22%2C%22main.file_descriptor_input%22%3A%225C3_RC3_01_5370.mzXML%22%7D)

### What happened

Attempt t

[2022-08-09 14:16] omokshyna opened #837 "Weighing functions do not work properly in Mobility scan merging"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version: MZmine 3.1.26-beta

### What happened

In Mobile Scan merging, when Show preview option is chosen, changing **m/z weighing** function seem to have no effect.

[2022-08-09 14:18] omokshyna opened #838 "ArrayIndexOutOfBounds Exception in Grid Mass module"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version: MZmine 3.1.26-beta

### What happened

![image](https://user-images.githubusercontent.com/2729783/183672693-8c4654ff-fb98-4061-bdba-98fc4d9fbc37.png)

[2022-08-09 14:45] Salchi58 commented on #830
Update: I installed Ubuntu as a double boot option and MZ3 fires up fine, but cannot parse any datafile (tested with Thermo .raw files and Waters raw folders), datafiles that I can open correctly on my laptop (same 3.1.0 version). MZmine does not give back any error with Waters folders (but they are not loaded...), while for Thermo files a popup with "java.lang.Exception: No scans found (ThermoRaw

[2022-08-09 17:04] omokshyna commented on #812
Duplicate

[2022-08-09 17:04] #812 closed

[2022-08-09 17:33] SteffenHeu commented on #830
I think it might be a problem with the windows installation. I cannot comment on that.

The waters import is platform dependant, it only works on Windows. The Thermo import should work on any operating system.

Is it SRM data? We don't support SRM data.

If it is not, can you please upload such a file so we can look into it?

[2022-08-09 19:11] tomas-pluskal commented on #830
@Salchi58 Please don't give up :) Tracking down this issue is your way to contribute to MZmine development.

[2022-08-09 19:23] Salchi58 commented on #830
The installation is not the issue (repeated several times, various 3.x releaseses, both .msi and portable). In Ubuntu the Thermo import does not work, the files are DDA and ok on other computers. Will try again on a Linux virtual machine (VirtualBox) on the same PC, this should rule out hardware related issues....I'm stubborn, I never give up :-)

[2022-08-10 04:51] tsufz commented on #830
Hi,
For me, this looks like a problem with the system installation rather than a hardware problem. I guess, XEON processors are robust for Java... Your error says that an entry point in a DLL was not found. Maybe, this DLL was not registered correctly (or something goes wrong with Win7...). If the system is running on the Ubuntu installation, try to use mzML files converted with Proteowizard. In m

[2022-08-10 08:37] Salchi58 commented on #830
UPDATE: Tobias is right, the Win 7 problem is Win 7. The whole set of api-ms-win-crt....dll is missing in windows/system32 and MZmine3 crashes before even starting. I don't know an easy fix for that, if any, but as the PC is controlling a Waters system, which is **very** sensitive to software environment modifications, I think I'll try to install Win 10 as a dual boot option.
The problem with pars

[2022-08-11 09:26] omokshyna opened #840 "Duplicated functionality in data export"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version: MZmine 3.1.26-beta

### What happened

In **Raw data methods -> Raw data export -> Export scans mgf, txt, msp and mzML** the dialog looks like this:
![image](https://user-images.githubusercontent.com/2729783/184103469-15616192-beed-48c2-842d-60b650921344.png)

The dialog in **Raw data methods -> Raw data export -> Ex

[2022-08-11 09:50] omokshyna opened #841 "Crop filter is included in two submenus simultaneously"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version: MZmine 3.1.26-beta

### What happened
 **Crop filter** is present both as a standalone module in  **Raw data methods -> Raw data filtering -> Crop filter** and in **Raw data methods -> Raw data filtering -> Scan by scan filtering** as one of the options

[2022-08-11 10:24] tomas-pluskal commented on #841
That is a different function. The first one is for cropping files (removing certain scans), the second one is for cropping scans (reducing the m/z range). We should probably give them better names.

[2022-08-11 10:31] Salchi58 commented on #830
UPDATE: the issue was solved on Win 7 by applying the Windows6.1-KB2999226-x64.msu update. I'm sorry it took me so long to fix, but now I have a sufficiently powerful system to test on - at last! :-)
Again, thank you all for the support (in August!)

S

[2022-08-11 12:40] omokshyna commented on #841
Ok, I'll think about better names

[2022-08-11 13:46] #841 closed

[2022-08-11 17:00] karla-vasco opened #843 "Running MZmine batch on HPCC (command line)"
I wonder if there is a way to run a *.xml file on a remote server like HPCC using the command line. We have access to a server that has up to 1Tb RAM.

I've to analyze over 280 files of untargeted metabolomics that want to check through GNPS. When running on my personal computer (Mac, 8 GB RAM) I have problems with the heap size and the pipeline crashes.

If there is not a way to run MZmine in HPC

[2022-08-12 08:48] robinschmid commented on #830
Great that you were able to fix this.

[2022-08-12 08:48] #830 closed

[2022-08-12 18:18] robinschmid commented on #843
Depending on the complexity, I was processing 280 files with a laptop with 16 GB RAM.
I also just tested with my laptop: 32 GB RAM, 8 cores, 16 threads - 250 complex LC-MSMS files in 18 minutes. So you do not need crazy performance for that.

On any system you can create your batch file and then run it in headless mode
https://mzmine.github.io/mzmine_documentation/commandline_tool.html

[2022-08-16 14:23] omokshyna opened #849 "Multiple issues in Spectral deconvolution (GC) -> Hierarchical clustering"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version:  MZmine 3.2.4

### What happened

In Spectral deconvolution (GC) -> Hierarchical clustering
- the possibility to show preview is present, but the preview is not showing
- Task gets frozen and after some time produces Java heap space error

![image](https://user-images.githubusercontent.com/2729783/184920102-acc360c1-

[2022-08-18 10:49] MaxFeuerstein commented on #692
Hi Steffen,

I just read this by chance and if I remember correctly, DriftScope is often used to recalibrate the datafiles when using Waters software (see header of the right example).

All the TWIM calibration literature is a little bit confusing, and the terminology might differ from paper to paper and compared to other IM-MS papers (e.g. CCS vs. "Omega"; "arrival times" or "drift times" etc.) a

[2022-08-19 10:46] CUrmann opened #855 "Scans not sorted in retention time dimension! - exclamation mark in MS data file list"
### Basic information

* My operating system: Win 10 Education 64 bit
* My MZmine version: mzmine 3.2.3

### What happened

Hello,

Many thanks for MZmine3, which I am currently try to use for LC/MS analysis. Unfortunately, there is a problem with the files I use.
Data was generated using a Shimadzu IT TOF and converted using MSconvert to mzml. When the file is imported to MZmine3 an exclamation m

[2022-08-19 19:38] kenyathedog opened #856 "Chemical formula prediction MS/MS sore not listed"
### Basic information

* My operating system: Window 10
* My MZmine version: MZmine 3.2.3

### What happened

* I have would like to search for chemical formula prediction of a particular mass; I selected ms/ms filter, but unlike MZmine 2, it doesn't ask me to "select mass list file". In the output chemical formula table, there is no ms/ms sore. I wonder how to make the program consider ms/ms data

[2022-08-22 09:07] omokshyna opened #857 "In Neutral loss filter Molecule field cannot be left empty"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version: 3.2.4

### What happened

Though Neutral loss filter allows leaving either "Molecule" or "Neutral loss" fields empty by design, in practice this leads to an error:

![image](https://user-images.githubusercontent.com/2729783/185883578-4141bd6d-ff9a-4d8b-9691-d290b1578094.png)

Overriden checkParameterValues() or defau

[2022-08-22 13:00] omokshyna opened #859 "RANSAC Aligner preview crashes"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version: 3.2.4

### What happened

When trying to launch preview in RANSAC aligner, the module first freezes and then crashes.

[2022-08-22 13:10] SteffenHeu commented on #859
i think its because the dialog runs the preview on the java FX (=the gui) thread

[2022-08-23 14:40] Hummels0211 opened #860 "Crashing while accessing the loaded data files"
### Basic information

* My operating system: Debian 11
* My MZmine version: 3.2.3

### What happened

* Please describe what happened and how it differs from what you expected to happen.
- After successfully loading the data, the software kept crashing when I tried to access the loaded files. Not sure if it is due to the java env in my system?
- (openjdk version "17.0.4" 2022-07-19
OpenJDK Runtim

[2022-08-24 09:33] BioLoggik commented on #855
Operating system: Ubuntu 22.04 (main) and Windows 11
Mzmine: 3.2.3

Hi,
I found a similar problem as @CUrmann. I am currently learning how to use MZmine3 3.2.3, which seems to be a very promising software, but I face lots of tiny bugs.
On my team, we are working on MS data generated via a Xevo G3 qTOF from Waters, it exports in .raw folders. I am mostly working on Linux distribution (Ubuntu 22.04)

[2022-08-24 11:07] tomas-pluskal opened #861 "macOS .dmg package icon"
When building the .dmg installer package for macOS, it doesn't have the MZmine icon, it has the default Java Duke icon.
The final application package (.app) has the proper icon.

This manual describes how to fix the .dmg icon with jpackage (see `Drive icon, application-name-volume.icns` under macOS DMG):
https://docs.oracle.com/en/java/javase/18/jpackage/override-jpackage-resources.html

<img widt

[2022-08-25 01:10] jyoungheun opened #862 "Data processed or exported for Feature-based molecular networking (GNPS)"
### Basic information

* My operating system: Window 10 Education / Intel(R) Core(TM) i5-10500 CPU @ 3.10GHz
* My MZmine version: ver. 3.1.0-beta & 3.2.3

### What happened

Hi I'm Young-Heun Jung.
I recently downloaded MZmine 3.2.3 to process the .mzXML data for Feature-based molecular networking (FBMN).
However, every time I export the processed data and run FBMN, the feature of interest was not

[2022-08-25 15:43] Tarush-Singh35 commented on #836
can you provide more specifics so i can replicate your error and check the issue

[2022-08-26 20:28] tsufz opened #870 "CompoundDB:comment appears not in the (aligned) feature list"
**Is your feature request related to a problem? Please describe.**
In our application, the comment field in the custom compound DB is important to describe possible issues with compound annotations. We comment for example isobaric compounds, problematic peaks and other things. However, the comment field does not appear in the feature list.

**Describe the solution you'd like**
Add the (optional) C

[2022-08-26 21:12] SteffenHeu commented on #870
Will be added in the next release. If the feature list is exported currently, you will have the additional information there, it just won't be visible in the feature table.

[2022-08-27 05:59] tsufz opened #872 "Sorting feature lists before alignment in batch mode"
**Is your feature request related to a problem? Please describe.**
Sorting of feature lists before alignment in batch mode was possible in MZmine2. We are really missing this feature to reconstruct the original order of samples.

**Describe the solution you'd like**
Add the sort feature lists to batch mode again, please.

**Describe alternatives you've considered**
An alternative could be an optio

[2022-08-27 15:02] tsufz commented on #870
Great, thanks! I would be preferable, if the comments could appear in the feature list as well to support a streamlined edition of the annotations. It could be an optional field.

[2022-08-29 01:32] jyoungheun commented on #862
(+additional information)
I have compared the MS/MS spectra by close look up on the MGF files obtained from two different versions of MZmine.
As a result, I found no difference in the feature scan of interest.
To add again, all the parameters for the data processing from each version of MZmine were the same.
For the feature-based molecular networking, the parameters were the same and the metadata

[2022-08-29 08:28] luluwang0702 opened #873 "Can not open the ion mobility data file in MZmine 3"
### Basic information

* My operating system: Bruker trapped ion mobility (TIMS)-TOF Flex
* My MZmine version: MZmine 3,2,3

### What happened

* Please describe what happened and how it differs from what you expected to happen. I would like to process the ion mobility data in MZmine to generate the feature list for the following GNPS analysis. But the data file could not be imported into MZmine.

[2022-08-29 08:32] SteffenHeu commented on #873
Hi,

I've never seen this occur before. What kind of data are you importing? Which acquisition mode did you use? Could you upload an example file and the full log file please so we can reproduce this?

Best
Steffen

[2022-08-29 08:53] luluwang0702 commented on #873
Hi Steffen,

Here is the link for the data file. I tried to import the .d folder and the BDal DataAnalysis Application class inside the folder. The data is in the data dependent mode.
https://drive.google.com/file/d/1agNDlEfK0awuFoV0bNsPc84ZvJ8ivVha/view?usp=sharing

Thanks in advance.

Best regards,
Xinhui

From: Steffen Heuckeroth ***@***.***>
Sent: 29. august 2022 10:32
To: mzmine/mzmine3 ***@*

[2022-08-29 10:34] tomas-pluskal opened #874 "dark mode on macOS"
<img width="691" alt="Screenshot 2022-08-29 at 12 31 02" src="https://user-images.githubusercontent.com/1796692/187181870-c15733c8-85f4-475f-b6a8-0dace8d30e76.png">

When I switch to the dark mode on macOS (12.5.1), the status bar text appears black on dark background.

Also, when clicking through the feature lists, the name of the raw data file (grouping the feature lists) turns black and becomes

[2022-08-29 10:36] tomas-pluskal commented on #874
<img width="679" alt="Screenshot 2022-08-29 at 12 35 31" src="https://user-images.githubusercontent.com/1796692/187182577-c290b630-de80-4969-aa0c-cca8f8e9937b.png">

The graphical plots in the feature table view also appear black on dark background.

[2022-08-29 19:12] gistamayo opened #876 "MZmine 3 for GC-MS data?"
### Basic information

* My operating system:  Monterey 12.5, Mac
* My MZmine version: 3.2.3

###
**What happened:**Confusing workflow for GC-MS and failure to obtain SD

I have downloaded this version about 6 times... to see if there is a bug in the version I had... But I haven't been successful so far.

I want to use MZmine 3.2.3 to process some GC-MS experiments, unsuccessfully.
The workflow I

[2022-08-30 09:21] JasonforMn opened #877 "Can not save a project."
### Basic information

My operating system: Window 10 pro, 64-bit
My MZmine version: 3.2.0

### What happened

can not save a project!
![can not save a project](https://user-images.githubusercontent.com/30796909/187400241-f88ae51c-8055-484a-b3cb-3a4223c81246.jpg)

[2022-08-30 09:35] SteffenHeu commented on #877
Does the folder you want the save the project in already exist?

Please provide full log files, without a full log or error description we cannot help much.

[2022-08-30 09:40] JasonforMn commented on #877
Positive. The folder exist. And, I did not set the "Temporary files directory". Will it be a possible cause?&nbsp;
Thanks!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "mzmine/mzmine3"

[2022-08-30 09:52] SteffenHeu commented on #877
Not to my knowledge. Did you try another folder? Is it on a network drive? That might be an issue. We recommend local drives.

Please provide us with the log files. You can access them via the help menu or directly in your user folder.

[2022-08-30 09:57] JasonforMn commented on #877
Thanks for your suggestion.
Please find the full log attached.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "mzmine/mzmine3"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年8月30日(星期二) 下午5:52
**

[2022-08-30 12:41] djb96 opened #878 "Error in formula predictions and generation of lists"
### Basic information

* My operating system: Windows 10
* My MZmine version: 3.2.3

### What happened

When using the formula prediction and selecting multiple best formulas, the feature list only provides one formula when exported to a csv. There is the option to select a different formula from the list, but this isn't carried over to the csv. You can double-click on the formula box which turns

[2022-08-30 12:47] djb96 opened #879 "Full feature list exported as MS/MS library"
We are hoping to generate an MS/MS library of unknown compounds, containing hundreds of features. We are able to export spectra to an MS/MS library by right-clicking on the feature list, to export a small number of features. However, could the functionality be improved to allow the entire feature list to be exported at once and with a common adduct?

[2022-08-30 16:26] SteffenHeu commented on #877
HI, there is no attachment on github to download. Can you try to upload it here?

[2022-08-31 04:08] JasonforMn opened #880 "Can not save a project"
### Basic information

* My operating system: Window 10 pro, 64-bit
* My MZmine version: 3.2.0

### What happened

Can not save a project!

[mzmine_0_0.log](https://github.com/mzmine/mzmine3/files/9458349/mzmine_0_0.log)
![can not save a project](https://user-images.githubusercontent.com/30796909/187590614-a1490f99-b893-4148-9834-d303666b529b.jpg)

[2022-08-31 10:34] SteffenHeu commented on #873
Hey,

I looked into the file. I know what the issue is and it can be fixed, but It will take some time.

The issue is that no data is stored in the first acquisition segment, which I haven't seen before. How did you acquire the dataset? What were the acquisition parameters in the first segment in order to not not store any ms data?

[2022-09-01 14:46] svilarl opened #881 "Size of dataset to analyse"
### Basic information

* My operating system: Windows 64 bit Intel(R) Xeon(R) Silver 4114 CPU @ 2.20GHz   2.19 GHz  (2 processeurs), RAM 32,0 Go (31,7 Go utilisable)
* My MZmine version: MzMine 3.2.3

### What happened

*I have a question about how many spectra i can treat with MzMine3? I have a 27 samples batch to analyse, only MS spectra. It finally went well, but to align all these data it's be

[2022-09-01 15:41] SteffenHeu commented on #881
Hi,

The size of the dataset should be no problem. Make sure you set the temp folder to a ssd. I think it might be due to the parameters you chose. You can try going from the wizard and optimizing the parameters from there.

[2022-09-01 17:33] sarahLy9 opened #882 "Issue Importing Thermo Raw files collected on Orbitrap in fullmsddms2 mode"
### Basic information

* My operating system: windows
* My MZmine version: 3

### What happened
Data was collected in positive mode in full scan data dependent ms2. ms1 scans are profile, ms2 scans are centroid.

When I import raw files I get a orange warning triangle next to each file name with a warning that states, "mzmine scans were detected as centroid but contain zero intensity values. This

[2022-09-01 22:49] jronley opened #883 "MZmine3 abruptly stopped loading RAW files"
### Basic information

* My operating system: Windows 10 Pro, 64-bit
* My MZmine version: 3.2.3
* Java version: 1.8.0_301

### What happened

* Today I was working with .raw files in MZmine and it seemed to be working fine. I saved the project and closed it. When I tried to reopen the project, it gave the following error many times: "java.lang.Exception: No scans found (ThermoRawImportTask.java:18

[2022-09-02 08:37] Socamibravo opened #884 "Create a feature list based of specific MS2 peaks"
Hi! Im Sofia Bravo, I'm a PhD student and new to MzMine.

**I wanted to ask if there is a specific option to create a feature list based on specific masses that appear in MS2 spectra. I've been trying to find it but I didn´t, maybe it has a different name.

**I´m trying to do a targeted analysis of different compounds and I wanted to automatically create a feature when there is a peak with a certa

[2022-09-02 12:08] SteffenHeu commented on #880
The error is not displayed in the log file. DId you try to save the project in that log?

[2022-09-07 12:58] SteffenHeu opened #885 "NPE in spectraBottomPanel"
npe is thrown in SpectraBottomPanel

[code]

The value is changed by a binding, this might be the reason.
@robinschmid, where do you think the value setting should be checked?

[2022-09-07 14:38] omokshyna commented on #859
@SteffenHeu I checked and indeed preview seems to be running in thread called "JavaFX Application Thread". Should it be otherwise? At the moment, I introduced some fixes and the preview is displayed (but horrifyingly slow). Please, take a look if you have some time before I create a PR - https://github.com/omokshyna/mzmine3/tree/ransac-align-preview-fix

[2022-09-07 14:45] SteffenHeu commented on #859
Hi olena, I don't have to time to go through the branch before next week, but thanks for looking into it.
It's favourable of the data for the preview was calculated in a separate thread which then updates the GUI when it's done. Basically In the same way we use the processing tasks in Mzmine.

[2022-09-07 15:07] omokshyna commented on #859
Thanks, next week would be also great. Meanwhile, I'll try to solve the problem with the threads.

[2022-09-08 08:05] corinnabrungs opened #888 "ConcurrentModification during spectral library matching with single MSMS scans"
While matching a single spectrum the unhandled exception occurs during adding datasets to the spectrum resulting in incomplete matching results

[code]

[2022-09-08 08:41] BioLoggik commented on #855
Update to my precedent message.
It seems when you import raw files from proprietary, there are conversion issues. In my example, it is a qof containing low energy scans, high energy scans, and lock spray scans (a reference compound scan). When it is imported as .raw or (wrongly) converted in mzML files, it keeps the 3 different scan list and lists them as follow: 1, 1, 1, 2, 2, 3, 3, 4, 4, ... rat

[2022-09-08 08:44] #888 closed

[2022-09-08 08:53] robinschmid commented on #882
Sorry for the delay.

Can you share one file on google drive or a similar platform?
So profile RAW files should not get the warning there. Its only if its centroided and contains zero intensities. Maybe the type detection is wrong there. Can only check with the file.

This is only a warning though. So you should still be able to process your files. Just try out the batch wizard to setup a standard

[2022-09-08 08:57] SteffenHeu commented on #855
Hey BioLoggik,

Thanks for the explanation. it would be great to have this in the Mzmine documentation, to have it accessible to all users. Would you want to add it?

You can find it here:

https://mzmine.github.io/mzmine_documentation/index.html

[2022-09-08 09:06] robinschmid opened #890 "Feature dataset does not use scan filter [raw data overview]"
In polarity switching the feature shapes do not reflect the scan selection

<img width="621" alt="image" src="https://user-images.githubusercontent.com/10366914/189080893-a9fd597e-b914-4663-a718-2cc5d30914be.png">

[2022-09-08 09:12] robinschmid commented on #883
Thats unfortunate. I can easily load your data files. There might be something wrong with the thermorawfile parser that we use internally. Its being unpacked into the temp folder as ThermoRawFileParser.exe. Try to delete all versions there and redo.

Overall I think its a good idea to use MSconvert to convert all your files to centroid mzML. So add the peak picking as the first step with the vendo

[2022-09-08 09:18] robinschmid commented on #881
As Steffen said the system should be enough to process the 29 samples. You should raise some of the feature constraints in the local minimum feature resolver and that should bring down the number of features in each list. Join aligner will then be relatively fast. Start with the batch wizard.

cheers
Robin

[2022-09-08 09:18] #881 closed

[2022-09-08 09:20] robinschmid commented on #879
We will rework some of the library generation soon. But do I understand correctly that you have no clue what those features are but you just want to create a library that just link them to some metadata?

[2022-09-08 12:51] omokshyna opened #892 "Add the name of the feature list in the feature table"
To make feature tables easier to work with and distinguish between, it could be a good option to add a feature list name. After discussion with @robinschmid the suggested option is to add a new row on the top of the table just for the label.

[2022-09-08 12:53] omokshyna opened #893 "Add information on standards after applying Retention time or Standard compound normalizers"
After applying the Retention time normalizer, the results are hard to analyze due to no indications in the feature table as to which features were used as standards. The same applies to Standard compound normalizer.

**Possible solution**
Add column to a feature table with indications which rows were used as the standards

[2022-09-08 12:59] omokshyna opened #894 "Improve error messages in Targeted feature detection"
Add meaningful error message when the peak list file does not match the template.

At the moment, the same error message is shown regardless of the problem with the *csv template (e.g. wrong format - PDF, CSV peak list does not respect the template, etc). A meaningful error message could be shown in each case (e.g. “The provided file doesn’t match the template”)

Suggested by @tdamiani

[2022-09-08 13:04] omokshyna opened #895 "Change output of targeted feature detection to a unique feature table"
Change output of Targeted feature detection to a unique feature table rather than individual feature lists.

At the moment, when running the module on multiple files, one feature list for each file is generated.

**Suggested changes** When the same peak list is used to run the module on multiple data files, a singe output feature table should be obtained, with features in rows and samples in colum

[2022-09-08 13:12] omokshyna opened #896 "m/z and RT are zero for the non detected features in Targeted feature detection"
### Basic information

* My operating system: Windows 10 Pro
* My MZmine version: MZmine 3.2.8

### What happened

In the resulting feature lists, for the non-detected features (marked by an orange dot) the m/z and RT values are set to 0. Meanwhile, zero should be just in the “Area” column.

![image](https://user-images.githubusercontent.com/2729783/189130031-1b0ccaff-4194-477a-86a0-d43d05a7b261.p

[2022-09-12 08:55] omokshyna opened #898 "Empty dialog window in ADAP resolver"
### Basic information

* My operating system: Windows 11 Pro
* My MZmine version: MZmine 3.2.4

### What happened

When ADAP resolver is opened "S/N estimator -> Intensity window SN" is chosen by default. If then user clicks "Setup" button empty dialog window appears:

![image](https://user-images.githubusercontent.com/2729783/189613095-04c5129d-b1f9-4cb2-859e-1c7c40a9c0a0.png)

However, if then "

[2022-09-12 10:43] #838 closed

[2022-09-13 16:39] robinschmid opened #902 "Structure in feature table"
Add an option to display smiles and inchi as structure in the feature table. Maybe just change the cell factory

[2022-09-13 21:28] MarWolan opened #903 "Importing converted files error"
Edit: Issue solved:

### Basic information

Can you please guys help me solve a problem with file importing. Here are some details.

* My operating system: Windows 10
* My MZmine version: 3.2.8

### What happened

While trying to import mzML files, converted from .wiff to mzML using MSConvert a constat error apears:
Error parsing mzML: io.github.msdk.MSDKRuntimeException: java.io.IOException: Ille

[2022-09-14 15:48] omokshyna opened #904 "Database view not working in Lipid Annotation module"
### Basic information

* My operating system: WIndows 11 Pro
* My MZmine version: MZmine 3.2.11

### What happened

When choosing "Show database" option in Lipid Annotation module, nothing happens (i.e. new window does not open and database view is not loaded).

[2022-09-16 14:54] #873 closed

[2022-09-21 13:25] Lsuissa opened #909 "Concordance errors in the reading of MS1 spectra between MZmine 3.2 and older versions, Excalibur from Thermo Raw"
### Basic information

* My MZmine version: 3.2

Hello
I need your help for a problem concerning the reading of MS1 spectra from Thermo Raw.
When i open MS1 spectra from raw Thermo (profil, negative polarity), i observe supplementary peaks in MZmine 3.2 (or SeeMS) than MZmine 2.53 or Excalibur (Thermo).
I attach an illustration of my problem.
Could you help me?
Thank you in advance
Laurent

[Probl

[2022-09-21 13:45] SteffenHeu commented on #909
Is it just the one additional peak you observe? Maybe xcalibur cuts the data somehow. It's weird that it's different for different softwares, but all still show the same masses

[2022-09-21 13:48] Lsuissa commented on #909
Hello
On the exemple attached, 2 supplementary peaks are observed 80.55 and 81.43……
In oldest version of MZmine, the reading is the same that Excalibur
I don’t understand that
Thanks

De : Steffen Heuckeroth ***@***.***>
Envoyé : mercredi 21 septembre 2022 15:45
À : mzmine/mzmine3 ***@***.***>
Cc : SUISSA Laurent ***@***.***>; Author ***@***.***>
Objet : Re: [mzmine/mzmine3] Concordance errors in

[2022-09-21 14:06] SteffenHeu commented on #909
My guess is that MZmine 2 and Excalibur use a similar old parser for the raw files. MZmine 3 and SeeMS probably use a newer one which also reads those signals.

You can try converting the raw file to mzml via https://github.com/compomics/ThermoRawFileParserGUI and import it in MZmine 2. If my theory is correct, you should also see those two signals

[2022-09-21 14:17] janitensen opened #910 "Error during export data for Sirius"
### Basic information

* My operating system: Windows 10
* My MZmine version:  MzMine3.2.8

I am a new user to this, so I don't know if it is something to do with my input files or if it is a bug. Just following the advice from the software.
[sirius_error_mzmine_0_0.log](https://github.com/mzmine/mzmine3/files/9617346/sirius_error_mzmine_0_0.log)

I get the following error for my batch run:

 SEVE

[2022-09-22 07:40] SteffenHeu commented on #910
Well, do your files have different polarity? If yes, you do have to separate them. Otherwise, please upload the example project as a standalone so we can look into the issue.

[2022-09-22 09:55] janitensen commented on #910
Thank you for your quick response. I tried uploading an example project yesterday and it was giving me an error saying it was an invalid file format. But I have been reading a bit and I have run a crop filter now on the raw data, and now it is exporting it, so it was my mistake trying to do something that never could work. My apologies.

[2022-09-22 09:55] #910 closed

[2022-09-22 13:35] tsufz opened #911 "Manual removal of false DB:annotations"
**Is your feature request related to a problem? Please describe.**
Using the DB:annotation, in some cases, multiple peaks could be annotated with the same compound. Unfortunately, it is not possible to remove false annotations manually. This was possible in `MZmine 2`.

**Describe the solution you'd like**
I would like to get a simple method to remove the false DB:annotation via the context menu.

[2022-09-22 13:40] MuhammadRizaludin commented on #876
Hi, I used the latest MZmine 3.2.8 for windows to analyse my GC-MS data and encountered exactly the same problem as @gistamayo described. May I know if you @gistamayo  found the solution already? I have also a question for the developer if this Mzmine version is already optimized for GC-MS data?

[2022-09-22 13:44] tomas-pluskal commented on #876
@asmirn1 @du-lab Could you check this issue please?

[2022-09-22 13:57] asmirn1 commented on #876
@MuhammadRizaludin @gistamayo

We have fixed a few errors with the Spectral Deconvolution a few days ago, but they are not in the release yet.

Could you try the pre-release version and let us know if you still having the issue?
https://github.com/mzmine/mzmine3/releases/tag/Development-release

Alex

[2022-09-23 11:07] IngvildRyde opened #912 "Recalibrated Bruker mzML: precursor m/z not recalibrated, different to MS1 (Problems with "Assign MS2 to features")"
### Basic information

* My operating system: 64-bit
* My MZmine version: 3.2.8

### What happened

* Please describe what happened and how it differs from what you expected to happen.

To me it seems like there is a mismatch between the MS1 and MS2 scans when looking at the scan table (see screenshot). For example the precursor ion for MS2 in scan #3600 is according to the MS spectrum 245.1169 m/

[2022-09-23 12:09] BoryALX opened #913 "Issue with SIRIUS export module"
### Basic information
* My MZmine version:
MZmine V 3.2.8
* My operating system:
Windows 10 Pro Education, Version: 2004, OS build: 19041.1415, 64-bit

*java version "1.8.0_301"
Java(TM) SE Runtime Environment (build 1.8.0_301-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.301-b09, mixed mode)

*R version 4.1.0 (2021-05-18) -- "Camp Pontanezen"
Copyright (C) 2021 The R Foundation for Statistical

[2022-09-26 05:42] li-chin opened #915 "Recalibrated Bruker mzML: precursor m/z not recalibrated, different to MS1 (Problems with "Assign MS2 to features")"
### Basic information

* My operating system: Windows 11 Pro
* My MZmine version: 3.2.8

### What happened

***Problem description:**
- **Data formats conversion:** Bruker qTOF raw .d > mzML (converted using msConvert) > mzMine > .mgf (SIRIUS/GNPS)
- **Overview of data processing steps:** Data import > Mass detection MS1 > Mass detection MS2 > ADAP chromatogram builder > ADAP resolver > 13C Isotop

[2022-09-26 09:12] Adafede opened #916 "Raw data methods > Raw data export > Export scans to CSV file does not produce any result"
### Basic information

* My operating system: macOS
* My MZmine version: 3.2.8

### What happened

The panel looks very much like  `Export scans mgf, txt, msp...`, probably a leftover?

[2022-09-26 12:45] BoryALX commented on #913
Additionally, the problem was already present when using MZmine 2.53 but could be avoided when the merge MS/MS option was ticked during the export stage:
![image](https://user-images.githubusercontent.com/91329611/192279753-1d96a0bc-bf10-4eca-ae28-8cc89ec6a158.png)
Alex

[2022-09-26 20:05] emily-giedraitis opened #918 "Raw Data Filter -> Crop Filter Function"
### Basic information

* My operating system: Windows 10
* My MZmine version: 3.2.8
* java version "1.8.0_341"
Java(TM) SE Runtime Environment (build 1.8.0_341-b10)
Java HotSpot(TM) 64-Bit Server VM (build 25.341-b10, mixed mode)

*R version 4.2.1 (2022-06-23 ucrt) -- "Funny-Looking Kid"
Copyright (C) 2022 The R Foundation for Statistical Computing
Platform: x86_64-w64-mingw32/x64 (64-bit)

### Wh

[2022-09-27 09:42] iliakopoulou opened #919 "MS2 has no mass list"
### Basic information

* My operating system: Windows 11
* My MZmine version: 3.2.8

### What happened
Problem with the GNPS_MN_export, I get the message: " MS2 scan has no mass list. Run mass detection on all scans while processing task Exporting GNPS mgs of MS2 spectra."

But I have already detetected masses for the MS2 at the beginning of my workflow. Even If I try to do it after an export my l

[2022-09-27 11:35] chufz opened #920 "PrecursorMZ are not read from the Bruker TimsTof tdf file"
### Basic information

* My operating system: Linuy ubuntu 20.04.05 LTS
* My MZmine version: 3.2.3

### What happened
Mzmine3 is not yet reading the precursor masses of ddMS2 data provided by Bruker tdf files.

![image](https://user-images.githubusercontent.com/38219063/192514687-313d6dd5-545c-406e-ad59-a65f719740de.png)

[2022-09-27 11:36] chufz commented on #920
see also https://github.com/rformassspectrometry/MsBackendTimsTof/issues/18#issuecomment-1256174399

[2022-09-27 11:41] SteffenHeu commented on #920
The MS2 information should be read anyway.

Have you tried grouping the MS2 with your features already?

Since there is more than one MS2 per frame in the timstof, it is not displayed in that table since it is made for LC-MS data.

[2022-09-27 11:49] SteffenHeu commented on #920
see here: https://github.com/mzmine/mzmine3/blob/master/src/main/java/io/github/mzmine/modules/io/import_rawdata_bruker_tdf/datamodel/sql/FramePrecursorTable.java

[2022-09-27 11:51] chufz commented on #920
Hi, thanks for the fast response, for now, I just wanted to access the MS2 data without any feature detection, so it seems this is only possible after a complete mzmine workflow?

[2022-09-27 12:35] SteffenHeu commented on #920
Yes. If you want to look at the raw ms2 spectra, i suggest using data analysis.
If you want to see the precursor information,  a sqlite browser is the fastest solution. You could use the ims raw data overview and set the filter to ms2 scans, then you can look at the heat maps.

If you want a quick workflow, you can use the batch wizard. It will run a standard feature detection workflow on the ims

[2022-09-27 12:50] chufz commented on #920
Thanks a lot for that help

[2022-09-27 12:50] #920 closed

[2022-09-27 15:11] SteffenHeu commented on #919
Please check that you run the mass detection on MS2s for all polarities, RTs and so on and don't use filtering that might exclude a spectrum.

If you say you did the mass detection for MS2s, dont provide a log or an example project, there's nothing we can do to debug the issue.

[2022-09-27 18:02] gistamayo opened #921 "Mac mini M1 freezes"
Raw data overview of more than one experiment causes my Mac mini to process everything very slow

- My computer: Mac mini M1, 16 GB RAM

* My operating system:  Monterey 12.5.1
* My MZmine version: 3.2.8

I am dealing with 50 files. After importing the files, and try to use Raw data overview to check on several files in the same window, MZmine becomes very slow, and even freezes for several minute

[2022-09-27 20:40] Kevin-Murray commented on #918
Good afternoon,

I am not able to reproduce this error with my own data.

Would you be able to provide more information about the raw data that is producing this error? Additionally, could you provide a complete screenshot of the Crop Filter parameters that you were using that produced this error message?

[2022-09-28 08:16] iliakopoulou commented on #919
Good morning,
You were right. I had to change the scan type ( from Centroided to Auto)
for mass detection. There were some scans in specific samples whose scan
type was THRESHOLDED, which I don't know why happened.
Thank you for your time and help!
Have a good day!

Best regards,
Iliakopoulou Sofia

Chemist, MSc, PhD

********************************************************************************

[2022-09-29 11:07] tomas-pluskal commented on #918
@emily-giedraitis Why did you close the issue?

[2022-09-29 16:40] tomas-pluskal commented on #918
Well, there is still an issue, because if you didn't fill the parameters correctly, the module should give a meaningful error message and not throw a NullPointerException. Maybe @omokshyna could double check this issue?

[2022-09-29 16:59] emily-giedraitis commented on #918
Okay here is a screenshot of the parameters of when it sent out the NullPointerException (also does this when MS level is set to 2):
![image](https://user-images.githubusercontent.com/114430513/193091597-7557b58d-bebb-40ad-b80c-6ee1aff17d50.png)

and when the filter worked properly:
![image](https://user-images.githubusercontent.com/114430513/193091872-c90abb62-df31-457b-aa91-8da74e39bcb5.png)

Al

[2022-09-29 17:14] emily-giedraitis commented on #918
Here are two of my raw data files I have been using to process:
[https://olucdenver-my.sharepoint.com/:f:/g/personal/emily_giedraitis_cuanschutz_edu/EgC6O_e6qtFMgYbuHysklvYBTozCg909G-AILjOJvdvdCQ?e=JrLLmT](url)
Let me know if the link does not work.

[2022-09-29 21:03] NotReallyContributing opened #924 "MetaCorrelate on a single chromatogram is not functioning after selecting/deselecting the sample set check box."
### Basic information

* My operating system: Windows 10 PRO 64-bit (10.0, build 19044)
* My MZmine version: 3.2.8
* My Java version: Version 8 Update 341

### What happened

After selecting and de-selecting the "Sample set" check box from Feature grouping -> metaCorrelate, the module no longer produces a new feature list.

Example workflow to replicate the bug: Import a single CDF file, Mass Dete

[2022-09-30 10:22] NthlLcrmp opened #925 "GCMS spectral deconvolution"
### Basic information

* My operating system: Windows 10 version 21H1
* My MZmine version: 3.2.8

### What happened

I try to perform spectral deconvolution on GCMS data.

Whether I use Hierarchical Clustering or Multivariate curve resolution algorithm, the preview doesn't work.

With Hierarchical clustering algorithm, the cluster list is empty :
![image](https://user-images.githubusercontent.com/

[2022-09-30 11:23] omokshyna commented on #918
Thanks, @emily-giedraitis! I will check with your files and get back to you.

[2022-09-30 12:57] asmirn1 commented on #925
@NthlLcrmp Could you upload your .mzmine project file or raw data files, so I could reproduce the error?

[2022-09-30 13:28] omokshyna commented on #918
The main cause behind the problem is some empty MS2 scans in your data (that do not have associated m/z range). This leads to the error you encountered in Crop filter and should repeat if you attempt, for example, mass detection. I am now working on adding the warnings for this problem and additional option to filter out empty scans :)

[2022-09-30 17:01] emily-giedraitis commented on #918
Okay great. Not sure why those MS2 scans are empty since we are doing DDA so that new filter option will be helpful! Thank you.

[2022-09-30 21:01] #919 closed

[2022-10-01 09:24] SteffenHeu commented on #915
Please upload a data file or a standalone project so we can reproduce the issue

[2022-10-01 09:26] SteffenHeu commented on #913
It is full intentional that some ms1 ions get exported as well, so they can be used for molecular formula annotation.

As long as the ms2s are there I don't think this is an issue.

[2022-10-01 09:27] SteffenHeu commented on #909
Was the issue resolved?

[2022-10-01 09:28] SteffenHeu commented on #896
True, they should not be present at all.

[2022-10-02 10:14] Lsuissa commented on #909
No….

De : Steffen Heuckeroth ***@***.***>
Envoyé : samedi 1 octobre 2022 11:28
À : mzmine/mzmine3 ***@***.***>
Cc : SUISSA Laurent ***@***.***>; Author ***@***.***>
Objet : Re: [mzmine/mzmine3] Concordance errors in the reading of MS1 spectra between MZmine 3.2 and older versions, Excalibur from Thermo Raw (Issue #909)

Was the issue resolved? — Reply to this email directly, view it on GitHub, or

[2022-10-03 06:10] NthlLcrmp commented on #925
Here is a link to download the project and the raw file :
https://filesender.renater.fr/?s=download&token=918d091b-95ce-44b9-b0ee-620ad1377786

[2022-10-03 06:56] li-chin commented on #915
@SteffenHeu  Here is the link to the data file and standalone project https://sarawakbio-my.sharepoint.com/:f:/g/personal/chailc_sbc_org_my/EmF12-HelOxIq_I6whEYIUYB994aBfic_PgRs-vWw6ua_A?e=LuRrMD

Please let me know if the link doesn't work. Thank you.

[2022-10-03 07:27] SteffenHeu commented on #915
Hi li chin,

looking at the files it seems that the issue is with the files itself, because the isolation m/z is off by rougly 0020-0.030. There's nothing we can do on the MZmine side. I'd check in the instrument parameters if you have set an isolation offset.

Another option is that the files were falsely converted. For that go to the actual raw files and check the isolation window there. If that

[2022-10-03 15:56] asmirn1 commented on #925
@NthlLcrmp We have fixed a few issues with the Spectral Deconvolution in the version of MZmine. I have tested it with your project file, and it is working for me now.

Could you try the latest development build of MZmine from here: https://github.com/mzmine/mzmine3/releases/tag/Development-release

Let us know if it's working for you or not.

Alex

[2022-10-03 21:53] samuelbertrand44 opened #928 "2D ion map / feature representation"
### Basic information

* My operating system: Windows 11
* My MZmine version: 3.2.8

### What happened

Hi,

When I inspect the feature list using 2D maps (2D plot) it was possible to overlay the feature list (MZmine2). It loog like it is possible to do the same in MZmine3.2.8, however, the features marks never show up on the map.
![Image1](https://user-images.githubusercontent.com/59165223/193692

[2022-10-04 06:59] NthlLcrmp commented on #925
Thanks Alex for your help.

This is better with this version. Spectral deconvolution with the Multivariate curve resolution algorithm is now working. However, I still have issue with the Hierarchical clustering algorithm. I can select feature and cluster, and I can preview the first clustering but not the second :
![image](https://user-images.githubusercontent.com/114736047/193753565-fe80168b-a445

[2022-10-04 07:25] samuelbertrand44 commented on #928
I tried again today with the consol open.

_**2022-10-04 09:21:36 FINEST io.github.mzmine.modules.visualization.twod.TwoDXYPlot render Finished rendering 2D visualizer, 206 ms
Exception in thread "JavaFX Application Thread" java.lang.NumberFormatException: empty String
        at java.base/jdk.internal.math.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:1842)
        at java.base/jdk.in

[2022-10-04 15:02] RemyMG commented on #913
Hello everyone,

What @BoryALX is saying is that MGF file content differs depending on the MZmine version and I guess he (we) did not expected it. MZmine v2 was exporting only MS1 precursor ion and associated MS2 spectrum whereas MZmine v3 is exporting precursor ion + several MS1 ions as you told @SteffenHeu. See attached the exported MGF files for the same ion but different MZmine version.

We wo

[2022-10-04 20:39] #774 closed

[2022-10-04 20:49] SteffenHeu commented on #913
MZmine 3 will add features with correlating peak shape and their isotope pattern to the mgf (in case meta correlate and ion identity networking were applied).
These can be multimers, different adducts or in-source fragments and can help SIRIUS with the molecular formula prediction.

I think if you dont want the correlated ions, you can do the export before the meta correlate and IIN step.

[2022-10-04 21:02] SteffenHeu commented on #915
please check the explaination i posted in #912 , this might be relevant for you, too.

[2022-10-05 15:47] robinschmid commented on #921
We have some people using M1 chips and MZmine. I never heard of any specific problems there.
Sometimes it takes some time when you use many files at the same time (like >5).

Memory consumption does not say much. Also hard to measure really. But the numbers you provide show that MZmine is using less than 5 GB RAM.

[2022-10-06 12:46] nilsguillermin opened #934 "'"MZmine" is damaged and can't be opened. You should move it to the Trash' on macOS"
### Basic information

* My operating system: macOS 12.6 (21G115)
* My MZmine version: 3.2.8

### What happened

Ran the installer. Double-clicked the MZmine icon. Got the message:

`"MZmine" is damaged and can't be opened. You should move it to the Trash`

<img width="279" alt="image" src="https://user-images.githubusercontent.com/91959530/194315860-c83d111e-8528-4f03-ac34-c9c9f853ad0b.png">

[2022-10-06 12:48] tomas-pluskal commented on #934
Hi, please see the relevant documentation page regarding installation on macOS:
https://mzmine.github.io/mzmine_documentation/getting_started.html#on-macos

[2022-10-06 12:52] #934 closed

[2022-10-06 13:52] robin1509 commented on #913
Sure ! I attach you the part of the .mgf concerning the feature 1070 I told you about before.

The ions from the isotopic pattern are :

247.1329 9.1E9
248.1361 1.5E9
249.1387 1.5E8

Hope that helps to solve the issue, don't hesitate if you need any other info.

[Feature_1070_export_SIRIUS.txt](https://github.com/mzmine/mzmine3/files/9725355/Feature_1070_export_SIRIUS.txt)

[2022-10-07 13:01] bsedio opened #935 "MZmine 3 command line in Linux"
### Basic information

* My operating system: Unix-based supercomputer
* My MZmine version: 3.2.8

### What happened

* Please describe what happened and how it differs from what you expected to happen.
* Please include all parameter values for the MZmine modules you used.
* Please upload screenshots of any errors and your log/mzmine.log file.
* Please upload an MZmine project file that demonstrat

[2022-10-07 13:33] SteffenHeu commented on #935
Running MZmine itself in Batch mode should be similar.

The editing of the heap size is documented here: (Windows only)
https://mzmine.github.io/mzmine_documentation/performance.html#maximum-memory

I guess it should be similar on Linux.

[2022-10-07 14:06] ajburx commented on #925
I'm having this same issue. I'm using the latest developer build and the multivariate curve algorithm now works, as above. The hierarchical clustering GC deconvolution is also not working for me (same as above user).
Additionally, after multivariate curve deconvolution is completed, when trying to save the project or run GC alignment algorithms, I receive errors:

Saving project:
![image](https://

[2022-10-07 14:20] asmirn1 commented on #925
@SteffenHeu @robinschmid I've made a pull request with fixes for this issue. Do you have any additional questions/comments, or we can merge the changes to the master branch?

@ajburx I've fixed the issues that @NthlLcrmp mentioned. I'll let you know when they are propagated to the developer build.

I'll take a look at the alignment.

[2022-10-08 00:10] robinschmid commented on #928
@omokshyna were you looking into this already or was it a different one?

[2022-10-08 00:11] robinschmid commented on #925
Reviewed and only a small comment

[2022-10-08 00:14] robinschmid commented on #924
Thats an interesting finding. The sample set parameter is also outdated actually. So I will remove it for now. We are working on a better metadata integration into MZmine and this will allow more grouping options

[2022-10-10 11:16] samuelbertrand44 commented on #928
I do not really understand the question. I am sorry.

I use a lot the 2D feature maping on 2D-ion map but sice MZmine3 it does not seems to work properly.

thanks in advance for the help.

[2022-10-10 12:05] omokshyna commented on #928
@robinschmid It was a different one. @samuelbertrand44, I'll check the issue and will get back to you.

[2022-10-10 13:01] IngvildRyde commented on #912
Thanks a lot for your answer Steffen

I have now tried to convert a raw Bruker .d file that I have not calibrated at all into a mzML file and imported to MZmine3. In this file, the MS1 ions and MS2 precursor ions have the same m/z. Then if I calibrate the data, the m/z of the MS1 ions change but not the m/z of the precursor ion for MS2. So I guess that it is a problem in Bruker: should Bruker not

[2022-10-10 18:08] tomas-pluskal opened #936 "Download a dataset from MassIVE"
We need a simple module to download and import raw data from MassIVE. Could be nicely integrated into the batch files so the user doesn't even need to transfer the raw data files.

[2022-10-11 06:49] SteffenHeu commented on #912
I don't know if the no-precursor recalibration is intentional or not. What i can say is that this doesn't happen if the instrument is calibrated before the run. The precursors use the current instrument calibration, the online recalibration is not applied to the instrument. I think you have to talk to your instrument operator about the issue. For the current data: Either you have to deal with the

[2022-10-11 07:46] Giovanni911 commented on #612
I shared them through the WeTransfer link, were you able to download them?

Il lun 21 mar 2022, 12:58 Robin Schmid ***@***.***> ha
scritto:

[2022-10-11 08:04] Salchi58 commented on #830
Hi Steffen. I can run any 2.x release on that PC, but no 3.x seems to work.
3.x is working ok on other systems (e.g. my laptop and other desktop PCs
running W10). I'd like to use that specific PC because it's the most
powerful I have access to.

Il giorno dom 7 ago 2022 alle ore 11:23 Steffen Heuckeroth <
***@***.***> ha scritto:

[2022-10-11 11:35] gidurso opened #937 "Data import"
### Basic information

* My operating system: windows 64bit
* My MZmine version: 3.2.8

### What happened: I can't import raw data file; they are data from Thermo wexactive in full MS

the following message appear : child processexited with code 3489660927

Thanks for supporting

[2022-10-11 11:36] tomas-pluskal commented on #937
Please upload a .raw file that fails and we can take a look at it.

[2022-10-11 11:48] omokshyna opened #938 "Bug in ADAP Chromatogram builder with Scans "All""
### Basic information

* My operating system: Windows 11
* My MZmine version:  3.2.28

### What happened

Launching the ADAP Chromarogram builder without scan filters leads to a cascade of errors, and MZmine crashes. Error reproduces in multiple different data files. This behavior is not reproduced in case if MS level is set to 2 (though it is not intended method usage, the user can do that for no

[2022-10-11 11:53] gidurso commented on #937
AA_T0_1a.raw
<https://drive.google.com/file/d/1Zj8WygVpN_INqGJ_FGYHcrGVBf7kMF4f/view?usp=drive_web>

Il giorno mar 11 ott 2022 alle ore 13:36 Tomáš Pluskal <
***@***.***> ha scritto:

[2022-10-11 11:56] gidurso commented on #937
I send the file by mail; I want to tell that I can upload one file but when I upload more that 10 file like this there are problem

[2022-10-11 15:30] tomas-pluskal opened #939 "Fix chart label generator"
<img width="1042" alt="Screenshot 2022-10-11 at 17 28 31" src="https://user-images.githubusercontent.com/1796692/195134446-a6c92fa1-ff00-4161-945e-16eef6510ac7.png">

Right now the peak labels are overlapping, because the label generator only takes into account a single data series for avoiding overlaps. This problem happens throughout all the MZmine visualizers. Should not be too hard to fix.

[2022-10-11 15:46] Adafede opened #940 "Put a warning in case of heavy visualization request"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I do a dumb ctrl+a + viz and it freezes for ages forcing me to quit.

**Describe the solution you'd like**
A warning reminding me this is not a good idea.

**Describe alternatives you've considered**
Thinking longer before clicking, but this appears suboptimal

**Additional context**
No idea what the limi

[2022-10-12 00:46] #918 closed

[2022-10-12 00:58] robinschmid commented on #939
Nice snapshot from the meeting.
Yes we need to somehow make it work with multiple datasets.

[2022-10-12 01:06] robinschmid commented on #936
Sounds nice... but not sure if that is really needed.
1. we reproduce something that can be easily done by the windows explorer - there you do not need an extra tool
2. how do we select which files should be used?
3. not sure how heavy the dependencies are

https://kodejava.org/how-do-i-download-file-from-ftp-server/

I mean still interesting to try?

[2022-10-12 01:07] robinschmid commented on #928
thanks

[2022-10-12 01:08] robinschmid commented on #925
Just merged - the next development release contains the fix

[2022-10-12 01:08] robinschmid commented on #925
Lets create new issues for remaining things

[2022-10-12 03:44] Akshat9588 commented on #892
I want to work on this please guide

[2022-10-12 07:04] samuelbertrand44 commented on #928
ok,  thans in advance.

anyway, if you need more inforamtion, do not hesitate to ask.

[2022-10-12 07:55] Adafede commented on #913
So cool to see those faces here!

@SteffenHeu In case there was some preliminary discussion here:

        @robinschmid After further investigation, it looks like something around https://github.com/mzmine/mzmine3/blob/c1924863edfc71bb8af9300e7d63fccba0a6d049/src/main/java/io/github/mzmine/modules/io/export_features_sirius/SiriusExportTask.java#L602-L604 is broken. The isotope patterns of correlat

[2022-10-12 11:07] SteffenHeu commented on #913
Hey, sorry for the late reply, i have too much other stuff to do, aswell.

I looked into the file and for me a different issue came up. There are two MS1 spectra exported, one with only the precursor peak and one with the correlated peaks.
When the file was imported as-is, only the spectrum with just the precursor signal was present. When i deleted the lines from the mgf, the correlated ions were

[2022-10-12 11:37] robin1509 commented on #913
Thank you for your answer.

Indeed, I didn't observe that “MSLEVEL=1” was present two times, once with a long list of ions and the other with only the parent mass. I also tried to remove the second list (the one with only the parent mass) and indeed the isotope pattern is recognized on Sirius (version 5.5.7).

In summary, the problem really comes from the MZMine export... Wouldn't it be possible t

[2022-10-12 12:59] SteffenHeu commented on #913
I noticed something else:

we export the whole MS1 and the "correlated" ions indicated by the "SPECTYPE=CORRELATED MS" tag in the mgf. I think sirius prefers the correlated ions spectrum over the ms1 if there is one. this means either we should not export the correlated MS if there are no correlated ions or sirius has to check that during import.

@kaibioinfo / @mfleisch can you say if my assumpti

[2022-10-12 13:11] Adafede commented on #913
Having both correlated ions and (not necessarily correlated) isotopes together should also be an important option, I think.

[2022-10-12 14:29] kaibioinfo commented on #913
"CORRELATED MS" should contain all isotopes and adduct peaks - its the replacement of what SIRIUS would do itself when doing the preprocessing. The "MSLEVEL=1" spectrum was exported because Marcus needed it for zodiac? I have no clue. I don't think that it is even used in SIRIUS.

[2022-10-13 06:39] SteffenHeu commented on #913
Ok, i reached out to Marcus on slack, let's hope we have some clarity soon

[2022-10-13 13:07] gkreder opened #947 "Unable to load waters .raw file"
### Basic information

* My operating system: macOS 12.6
* My MZmine version: 3.2.8

### What happened
I'm trying to import a .raw file generated from a Waters Xevo G2-XS run. When mzmine3 tries to import the .raw file I get an error message saying

```java.lang.Exception: No scans found (WatersRawImportTask.java:193)```

![image](https://user-images.githubusercontent.com/6944548/195603299-bee78a4

[2022-10-14 14:16] ajburx opened #948 "Error in alignment & saving of GCMS data"
### Basic information

* My operating system: Windows 10 Enterprise x64
* My MZmine version: 3.2.32

### What happened

After successful hierarchical deconvolution of GCMS data files I am unable to save the MZmine project or carry out alignment using ADAP aligner (GC). Screenshots of errors are attached. I am unable to upload MZmine project file as I cannot save one, however a raw data file link i

[2022-10-14 17:07] robinschmid commented on #915
So did you end up with a recalibrated file where both the precursor mz and the MS1 was recalibrated?
Or do you have to leave out recalibration?

[2022-10-14 17:19] robinschmid commented on #913
There was so much change on that module all the time.
But MS1, CORRELATED_MS and MS2 have been there for many versions.
I think we should
1. make it optional to export the correlated MS
2. only export one if the user actually ran isotope finder and ion identity networking. Otherwise its just limiting the info for SIRIUS

[2022-10-14 21:36] li-chin commented on #915
@robinschmid Recalibrated for both

[2022-10-15 11:32] PhilippTernes opened #949 "Removed raw data files re-appear after saving as referencing project"
### Basic information

* My operating system: Windows 10
* My MZmine version: 3.2.8

### What happened

What I did:
* Imported a bunch of centroided mzML files with DDA and full scan data
* Looked at 'raw data overview' for each file to check whether each run was fine
* Removed raw data files from bad runs:
  + Right-click on the file name in the list of MS data files
  + Select 'Remove file' from

[2022-10-17 00:29] Kotchanipa opened #950 "Error in importing file"
### Basic information

* My operating system: Window 10
* My MZmine version: 3.2.8

### What happened
I cannot import Ms files successfully. And when I open the MZmine, the program is not in a full window. I add a picture of the error and problem.
![image](https://user-images.githubusercontent.com/89931476/196066629-a309b98f-a734-4e09-8ca0-5e724fbc5249.png)

* Please describe what happened and how

[2022-10-17 07:27] tomas-pluskal commented on #950
Why didn't you upload the mzML file?

[2022-10-17 11:53] Kotchanipa commented on #950
The files that I upload are mzML files sir.

[2022-10-17 11:54] tomas-pluskal commented on #950
Where did you upload them? I don't see any link.

[2022-10-17 13:10] Kotchanipa commented on #950
I cannot upload them because of the error.

These are files that I import to MZmine3.
![MZmine2](https://user-images.githubusercontent.com/89931476/196185170-71743ede-7de5-403a-900c-f183381933e4.png)

And the error happened while the files were downloaded.
![MZmine3](https://user-images.githubusercontent.com/89931476/196185556-9a900166-3108-48d6-9608-83c8d6824ab7.png)

[2022-10-17 13:12] tomas-pluskal commented on #950
I think you misunderstood what I am asking.
Please upload the mzML files somewhere online so we can take a look at them (e.g., Dropbox or Google Drive).

[2022-10-17 13:17] Kotchanipa commented on #950
These are the files I tried to import.
https://drive.google.com/drive/folders/1HadnKLZUiClAiQvpwnP8Z5ZQ4437zGk8?usp=sharing

[2022-10-17 21:05] robinschmid commented on #915
great

[2022-10-17 21:29] robinschmid commented on #915
Would you be willing to write a short description in our documentation, so that people can easily find the solution and that we can link it out to other people?
The documentation is hosted here as simple markdown: https://github.com/mzmine/mzmine_documentation

You could add a section for Bruker: Recalibrated files to the data conversion guide
https://mzmine.github.io/mzmine_documentation/data_con

[2022-10-17 22:41] hhabra opened #952 "Feature List Name Pattern/ Choosing Specific Files"
### Basic information

* My operating system: Ubuntu 20.04.4
* My MZmine version: 3.2.8

### What happened
I'm trying to perform operations, such as isotope peak grouping, alignment, etc... on one type of feature list, but I see no way of doing that without selecting each and every list individually (tedious). In the past with MZMine2, they were laid out sequentially, but in MZMine3 they are diffi

[2022-10-18 01:03] robinschmid commented on #952
you need to put a * as wildcard. So *resolved

[2022-10-18 17:01] hhabra commented on #952
Ah okay, thanks for letting me know that. I wonder where I missed that bit of information. Either way, closing the issue now.

[2022-10-18 17:01] #952 closed

[2022-10-18 17:26] adriherar commented on #925
Dear developers,

I'm having the same problems as the two users above with the hierarchical clustering from the spectral deconvolution GC.

![image](https://user-images.githubusercontent.com/116106346/196501066-89ae4afd-a791-4764-958f-f091978c72b3.png)

![image](https://user-images.githubusercontent.com/116106346/196501362-aae75332-00e8-4e42-8f31-53eb097cf9d6.png)

![image](https://user-images.git

[2022-10-18 19:12] SteffenHeu commented on #949
Hi Philipp, that's a good catch, thank you for reporting it.
It should not be breaking thje project as long as the files still exist, right?

I'll try to have it fixed in the next release.

[2022-10-18 20:44] hhabra opened #953 "TIC Visualization for Aligned Peaks consumes all memory"
### Basic information

* My operating system: Ubuntu 20.04.4, 1TB total disk space, 32 GB RAM, Java openjdk version "17.0.4" 2022-07-19

* My MZmine version: 3.2.8

### What happened
After performing the peak alignment for this study, I would like to inspect various alignments and other LC-MS peak properties. I right click on one of the shapes (particularly m/z = 114.0638 @ RT = 0.80), click show

[2022-10-18 21:09] PhilippTernes commented on #949
Hi Stefan,

I today found a work-around that will do it until the next release:

1. Load all raw data files and check them
2. Remove the ones that are not OK from the list
3. Save as embedded project and close
4. Load the project and immediately save as referencing project, overwriting the embedded project

Thanks
Philipp

[2022-10-18 21:16] SteffenHeu commented on #949
Hi Philipp,

i'd recommend to not do that. When the project is saved as a standalone project, the data files are copied to the .mzmine (=zip) file. When this project is loaded, the files will be unpacked to a temporary directory and loaded from there. On the next start of MZmine they should be deleted and you will not be able to reopen it.

[2022-10-19 06:54] PhilippTernes commented on #949
Hi Steffen,

Yes you are right. When loading the referencing project saved in this way, it apparently just pulled the raw data from the temp folder. After cleaning the temp folder, it did not work any more. I would therefore proceed like this:

1. Load all raw data files and check them
2. Remove the ones that are not OK from the list
3. Build the feature lists for the individual sample
4. Now save

[2022-10-20 11:02] PerNots opened #957 "Manual Integration with "Define Manually" increases peak areas massively"
### Basic information

* My operating system: Windows 10 Enterprise
* My MZmine version: 3.2.8 Portable

* Edit: I now also tested on the non-portable version and with mzML files (converted with MSConvert), same problem in both cases

### What happened

Hello,

the issue i am experiencing is with the manual integration of a feature in a specific dataset with the "define manually" function in an al

[2022-10-20 15:07] asmirn1 commented on #948
@ajburx Could you try the latest development build: https://github.com/mzmine/mzmine3/releases/tag/Development-release

We fixed a few GC-related issues in it. Let us know whether it works for you or now.

Alex

[2022-10-20 15:11] asmirn1 commented on #938
@omokshyna It looks like MZmine crashed because of a small amount of RAM. How much RAM does your system have and how big are your files?

If you share your data files, I can test it on my machine.

[2022-10-20 15:39] adriherar commented on #925
Dear @asmirn1

Thank you for your kind reply.

I did it with the latest version, as you recommended me, and it worked. However, after I did the normalization (with the linear normalization) and tried to align with the ADAP aligner GC, appeared an unknown errror as you could see in the picture below.

![image](https://user-images.githubusercontent.com/116106346/196991082-533d5796-4eb7-4249-a229-c5f

[2022-10-20 16:11] asmirn1 commented on #925
@tnguy271

Have we fixed the alignment issue or we are still working on it?

[2022-10-20 16:18] tnguy271 commented on #925
@asmirn1 Yes it has been fixed. I have made a pull request with the fixes for alignment issue. @SteffenHeu @robinschmid Could you let us know if it's ready to be merged?

[2022-10-20 18:53] Tarush-Singh35 commented on #947
@robinschmid i would like to work on this issue

[2022-10-21 18:55] annapurnap2007 commented on #631
Hi,
 I  installed MZmine 3.2.8, I have tried to import Thermo raw . But unfortunately, the importing was failed and java related error attached here.
My operating system: macOS Monterey 12.6
The Java version is JDK 19

Please suggest me on how to proceed further.

<img width="1484" alt="Screen Shot 2022-10-21 at 1 26 57 PM" src="https://user-images.githubusercontent.com/113557245/197268741-7c4914a

[2022-10-22 13:23] bsedio opened #958 "Feature "1" has more than one MSLEVEL=1 record"
### Basic information

* My operating system: Mac 12.6 Monterey
* My MZmine version: MZmine 3.2.8

### What happened

* Please describe what happened and how it differs from what you expected to happen.
* Please include all parameter values for the MZmine modules you used.
* Please upload screenshots of any errors **and** your log/mzmine.log file.
* **Please upload a standalone MZmine project file

[2022-10-23 14:40] leizhon commented on #631
Hi Annapurna,
Have you already tried to transfer your Thermo Raw data to mzML firstly before importing your files to MZmine3? I found MZmine3 could not import the Thermo raw files in my case.

[2022-10-24 07:24] tomas-pluskal commented on #631
@annapurnap2007 Could you please download the thermo raw file parser from here: https://github.com/mzmine/mzmine3/blob/master/src/main/resources/vendorlib/thermo/ThermoRawFileParser.zip

Unzip it and try to run the `ThermoRawFileParserMac` in your Terminal app. Let me know what happens.

[2022-10-24 10:40] omokshyna commented on #938
Hi @asmirn1! It doesn't seem to be the problem with the files (I tested multiple, but the sample ones are ~45 Mb each) or RAM (my system has 16 GB of it). The sample files are here - https://drive.google.com/drive/folders/1a6VpKTkmvCxBzapk38dHqBpFx-nl4fJU?usp=sharing
I think that's the issue of the filter but you're very welcome to test the issue :)

[2022-10-24 13:07] SteffenHeu commented on #957
Sorry for the late reply.

This issue should be fixed in the latest dev build already. You can try it here: https://github.com/mzmine/mzmine3/releases/tag/Development-release

[2022-10-24 13:43] asmirn1 commented on #938
@tnguy271 could you take a look at this issue?

[2022-10-24 15:12] PerNots commented on #957
Hey, thank you so much for getting back to me.

I deinstalled the old mzmine and downloaded both the portable and the non-portable version of the dev build.
I tried to recreate the problem described above but this time i run into an error earlier on. When i try to move the Integration-Start-Line or the Integration-End-Line there is an Error message poping up (see attached screenshot). This happens

[2022-10-24 15:57] annapurnap2007 commented on #631
Hi Leizhon,
             I tried to upload Thermo RAW files to MZmine3 and haven't converted files to mzML files.

[2022-10-24 15:59] leizhon commented on #631
Then you can try to convert the files to mzML first!

[2022-10-24 16:25] annapurnap2007 commented on #631
Sure! I will try to convert RAW file to mzML and then import to mzMine3.

Thanks,
Anu

[2022-10-24 16:26] annapurnap2007 commented on #631
Tried. See the screenshot.
<img width="2096" alt="Screen Shot 2022-10-24 at 11 23 02 AM 1" src="https://user-images.githubusercontent.com/113557245/197576898-480eb361-ccfb-44d3-bc89-5099c24aae91.png">

[2022-10-24 16:32] annapurnap2007 commented on #631
Last login: Mon Oct 24 11:20:20 on ttys000
/Users/Annapurnapamreedy/Downloads/ThermoRawFileParser/ThermoRawFileParserMac ; exit;
Annapurnapamreedy@M1504161794 ~ % /Users/Annapurnapamreedy/Downloads/ThermoRawFileParser/ThermoRawFileParserMac ; exit;

Unhandled Exception:
System.TypeInitializationException: The type initializer for 'System.Console' threw an exception. ---> System.TypeInitializationE

[2022-10-24 16:40] tomas-pluskal commented on #631
Thanks, I’ll look into it.

[2022-10-24 17:06] bsedio commented on #958
Hello MZmine,

Helena Russo suggests that the spectra with SPECTYPE=CORRELATED can be removed from the _sirius.mgf file produced by MZmine 3 to allow it to be analyzed using Qemistree.

Here is a regular expression that can be used in BBEdit to remove these spectra from the sirius.mgf file produced by MZmine 3:

(BEGIN IONS\rFEATURE_ID=\d\rPEPMASS=\d+.\d+\rCORR_GROUPID=\d\rCHARGE=\d\rRTINSECONDS=\

[2022-10-25 09:35] ivana67000 opened #963 "Mass detection in batch mode doesn't select all raw files"
### Basic information

* My operating system: Windows Server 2019 64-bit, version 1809
* My MZmine version: 3.2.8.

### What happened

The first batch step (I've added the batch file attached) in my case is mass detection here, in which I've chosen the "all raw data" option for selecting files for processing, and "those created by previous batch step" in all consecutive steps. When I upload all ra

[2022-10-25 11:26] ThuridurNott opened #964 "Application of positive charges to features detected using a negative mode LC-MS"
### Basic information

* My operating system: Windows 10 64-bit
* My MZmine version: 3.2.8

### What happened
This may be more of a question but MzMine applies charges to the features in the samples I give it. In the same sample batch it assigns some as positive or neutral but it is impossible that the detected compounds are anything other than negatively charged as the system used for the analysi

[2022-10-25 11:49] SteffenHeu commented on #964
I'm not exactly sure what you mean.
Are you referring to the charge column showing "1" for negative mode measurements?

The charge is saved as an absolute value in Mzmine, no matter if it is charged positively or negatively. You can multiply the charge column by -1 in your export if you did negative mode measurements.

Where exactly is this an issue for downstream analysis?

[2022-10-25 12:04] ThuridurNott commented on #964
We further analyse the features found in MzMine in SIRIUS which attempts to identify the compounds. In the file that MzMine exports for SIRIUS/CSI finger ID when opened in notepad there is for each feature a line with CHARGE = 0 or 1 for example which we have assumed is the assigned charge of the compound.
![image](https://user-images.githubusercontent.com/116361496/197768065-96cfae0d-8640-433e-a6

[2022-10-25 12:15] SteffenHeu commented on #963
Hi ivana,

the way the batch mode works is that it checks which files were present when the module starts and when it ends. If the selection is "those created by previous batch step" the "difference"/new files/feature lists are used for the next step. In case there is no difference, the previous selection will be used.

However, mass detection does not create any new files and if it is the first s

[2022-10-25 12:32] ThuridurNott commented on #964
I did not actually know about this as I typically compute many samples at a time where changing the adduct is not a visible option. This all makes sense now. Thank you for the help :)

[2022-10-25 12:32] #964 closed

[2022-10-25 14:31] ivana67000 commented on #963
Oh, that was a mistake on by part. It seems to work now, thank you

[2022-10-25 14:31] #963 closed

[2022-10-25 15:28] SteffenHeu commented on #938
Yeah there are usecases where we want other MS levels. For the new DIA correlation i use the ADAP chromatogram builder to build MS2 ion chromatograms to correlate them with the MS1 chromatograms. I looked into the issue and it was an easy fix. Will push it to the master

[2022-10-25 15:34] ajburx commented on #948
@asmirn1 Thank you for taking a look. I still have the save and alignment issue with the latest dev. build unfortunately.

[2022-10-25 15:54] #938 closed

[2022-10-25 16:22] asmirn1 commented on #948
@ajburx It turns out we are still working on fixing it. I'll let you know when it's fixed.

[2022-10-25 18:44] annapurnap2007 opened #968 "Unable to locate package mzmine_linux_installer_3.2.8.rpm"
I don't have access to windows system to convert RAW files to mzML to process on Mac.
So trying to install MZmine3 on Ubuntu system, I am very new to Ubuntu system and trying to install MZmine3. It's giving the error attached.
![Screenshot from 2022-10-25 13-52-04](https://user-images.githubusercontent.com/113557245/197857897-f8dd3f87-f8b3-41d9-a3ca-0f229c5a45e5.png)

Please advice me on how to pr

[2022-10-26 06:51] SteffenHeu commented on #957
Hi Stefan,

i cant reproduce that with my own files. Does the project yu uploaded produce the issue? If yes for which feature in which feature list?

[2022-10-26 08:18] li-chin commented on #915
@robinschmid Sure. It's done, hope that helps, please feel free to review.

[2022-10-26 09:06] PerNots commented on #957
Hey Steffen,

i wasn't using the uploaded files when writing my last post but when retrying with the uploaded files, i noticed what provoked the error.
I was trying to make the integration window wider when i got the error message and i am quite sure now that it gave me the error because the new limit for integration was at a point where the intensity was lower than the one defined by GridMass. Wh

[2022-10-26 09:06] #957 closed

[2022-10-26 16:04] robinschmid commented on #953
I think your memory setting should be fine... Although its good to stick to the defaults. There is always an overhead that is above the 80% max.

It seems weird that this would freeze your computer as it can visualize in the feature table... You do not seem to have too many files either. Did you try double click on a file and then visualize in the raw data overview? You can check the box and visua

[2022-10-26 16:06] robinschmid commented on #958
We are aware of this issue and will create a new option to not export the correlated spectra

[2022-10-26 16:07] #911 closed

[2022-10-26 16:07] #150 closed

[2022-10-26 16:08] #285 closed

[2022-10-26 16:09] #388 closed

[2022-10-28 10:46] Cagakan31 opened #969 "Unable to group the samples to export the data for metaboanalyst"
### Basic information
First of all thank you very much for this open source software which is an excellent tool!

* My operating system: Windows10
* My MZmine version: 3.28

### What happened

* Please describe what happened and how it differs from what you expected to happen.
*--I am trying to do lipidomics experiment by using LC-Ms processing wizard. I also created a sample metadata (names and t

[2022-10-28 12:38] SteffenHeu commented on #766
@MaxFeuerstein This has been merged to the master branch now. Feel free to provide any further feedback. The visualizer is accessible from the feature table

[2022-10-28 12:38] #766 closed

[2022-11-01 01:04] adriherar commented on #925
Hello guys,

The alignment problem persists with the latest MZmine version (3.2.39)

![image](https://user-images.githubusercontent.com/116106346/199136580-1616e6a0-070d-4b11-aafc-daa32fc5ef84.png)

Kind regards.

Adrián H.

[2022-11-02 08:24] IEECAS008 opened #971 "different result of formula prediction for MZmine 3 and MZmine 2"
### Basic information

* My operating system:windows 10
* My MZmine version: MZmine 3.2.8 and MZmine 2.5.8

I use the same parameters to do the formula prediction  for the same batch of samples with MZmine 3 and MZmine 2, but the result shows different. It is obvious less formula number were predicted in MZmine3 and also for sulfur contaning organic compands.

Before  formula prediction ,I do Mass

[2022-11-02 12:23] tomas-pluskal commented on #971
Hi, this is a good observation. Would you be able to upload your project files for MZmine 2 and MZmine 3 somewhere (e.g., Google Drive) so we can take a look at the details?

[2022-11-02 19:50] gistamayo commented on #948
I just got time till yesterday to test the version of the link above (3.2.39). SD runs OK, but now I cannot export mgf file for GNPS using the option of GNPS-ADAP (GC-MS) provided. Any idea why? It gives the following message:
![Screen Shot 2022-11-02 at 13 47 33](https://user-images.githubusercontent.com/111382086/199588824-609b9061-6070-4670-aefe-61a41e87500f.png)

[2022-11-02 20:03] gistamayo commented on #948
And I haven't used the correct alignment script. When using the one for GC, I get the same error as initially.
![Screen Shot 2022-11-02 at 14 02 43](https://user-images.githubusercontent.com/111382086/199591812-b8a34cc3-aedf-44de-92c9-f0b73d531c58.png)

[2022-11-04 05:01] IEECAS008 commented on #971
Hi, i upload the raw data  and parameters used in the project. Please check, https://drive.google.com/drive/folders/1etfKy7gZM87Sdgn_pXqXYkV2UG6ZT2ju?usp=sharing

[2022-11-04 11:46] SteffenHeu opened #974 "Show Feature list name or Raw file name in tab title"
Ideally show that it's a feature table and then the name in a second line
![grafik](https://user-images.githubusercontent.com/37407705/199965171-760a0248-59c3-4a2d-8e6a-507086ffa6da.png)

[2022-11-04 12:47] uc3h2 commented on #915
Hi!

I have a follow up question.

Would it be possible to by pass the issue by converting the Bruker data to mzML and then calibrate them in mzMine3?

I am using Internal calibration by NaFormate on the beginning of the analysis on Bruker qTOF.
I am trying to recalibrate the data by MZmine>Raw data methods>Mass detection>Mass Calibration.
Yet re-calibration using Universal Calibrant Library as re

[2022-11-04 13:47] asmirn1 commented on #925
@adriherar We've made some fixes for the alignment in development version: https://github.com/mzmine/mzmine3/releases/tag/Development-release

Could you try it?

[2022-11-04 13:48] asmirn1 commented on #948
@ajburx @gistamayo

We've made some fixes for the alignment in development version: https://github.com/mzmine/mzmine3/releases/tag/Development-release

Could you try it?

[2022-11-04 17:05] ThaoPDoan opened #976 "Converting files in profile mode into centroid mode (LCMS-IT-TOF instrument)"
I can select centroid mode in the lcms post run analysis, but could not get them in centroided when converting to mzXML format; I also tried MSConvert but they said it does not support data from LCMS-IT-TOF instrument.

![image](https://user-images.githubusercontent.com/117472545/200033707-e0f44b75-0aea-4099-850e-8241f0f957bc.png)

So, what could I do to convert them all into centroid before using

[2022-11-04 21:50] weantony opened #977 "Empty exported feature list"
### Basic information

* My operating system: win10 pro 64bit
* My MZmine version: 3.2.0

### What happened

* Please describe what happened and how it differs from what you expected to happen.
* Please include all parameter values for the MZmine modules you used.
* Please upload screenshots of any errors and your log/mzmine.log file.
* Please upload an MZmine project file that demonstrates the pr

[2022-11-04 22:59] SteffenHeu commented on #976
Is this an Shimadzu instrument? Similar to Waters instruments, there have always been problems with converting the data to open source formats. If MSConvert and the vendor software does not work, i can only refer you to google or to the vendor himself. Otherwise, if the software supports a profile export, you can try that and do mass detection with a profile mass detector in mzmine.

[2022-11-04 23:03] SteffenHeu commented on #977
my guess is that the ms2 spectra are not assigned to your features. This can be done during the [resolving step](https://mzmine.github.io/mzmine_documentation/module_docs/featdet_resolver_local_minimum/local-minimum-resolver.html#msms-scan-pairing) by selecting the respective parameter or at the end of the processing with the "[Assign MS2 to feature](https://mzmine.github.io/mzmine_documentation/m

[2022-11-05 01:09] weantony commented on #977
Thank you so much. It worked.

[2022-11-05 03:27] ThaoPDoan commented on #976
Thanks for your reply!
Yes, it is the Shimadzu instrument. So from what I understand, if all files
are in either profile mode or centroid mode (not a fix of both), we can do
mass detection in mzmine.
And I will find a way to convert them.

Thao.

On Fri, Nov 4, 2022 at 6:59 PM Steffen Heuckeroth ***@***.***>
wrote:

[2022-11-05 13:30] #977 closed

[2022-11-06 19:36] adriherar commented on #925
Hello @asmirn1

Thank you for your reply.

I've downloaded the latest version and It is not working yet.

![image](https://user-images.githubusercontent.com/116106346/200191219-9cb224af-e144-4fbc-80e1-2045391f4c6b.png)

I'll be waiting for your comments.

Greetings.

Adrián

[2022-11-07 01:51] IEECAS008 commented on #971
Hi, i upload the raw data and parameters used in the project. Please check, https://drive.google.com/drive/folders/1etfKy7gZM87Sdgn_pXqXYkV2UG6ZT2ju?usp=sharing

[2022-11-07 15:26] ZarluisMijangoR opened #978 "Unable to open MZmine 3 in macOS Ventura"
### Basic information

* My operating system: macOS - Ventura 13.0
* My MZmine version: MZmine 3

### What happened
Hi there,

Three weeks ago I managed to used MZmine 3 without any problem but all of the sudden last week I was planning to work on it again and it decided to be in the bin and not open. After that, I decided to download it again, reset my computer but I am not able to have access ag

[2022-11-07 15:34] SteffenHeu commented on #978
Did you try this: https://mzmine.github.io/mzmine_documentation/getting_started.html#on-macos

[2022-11-07 15:40] ZarluisMijangoR commented on #978
Hi Steffen,

First off, thank you very much for your answer. Indeed, I tried this part and used both code terminals.

[2022-11-07 15:54] SteffenHeu commented on #978
@tomas-pluskal / @roman-bushuiev any idea then?

[2022-11-07 16:41] ZarluisMijangoR commented on #978
Hi @robinschmid,

I am using a 2.3 GHz Quad-Core Intel Core i5.

Best,
Zarluis

[2022-11-07 16:46] robinschmid commented on #976
Shimadzu is actually really nice. So you could also reach out to them and see if they have a solution.
In MZmine you can process either centroid or profile. Very important though - open the spectrum and look at it - compare it to the vendor software to see if it is actually centorid or profile. MZmine might also detect the mode wrong or its wrong in the mzml file.

If it is really a mix, which I d

[2022-11-07 16:48] robinschmid commented on #974
Then we would need to change the label size also.
One thing would be to add a column header over the row types

[2022-11-07 16:50] robinschmid commented on #971
can you upload oth the MZmine 2 and 3 batch

[2022-11-07 21:38] robinschmid commented on #978
Good to know. Do you know if there was a macOS update?

[2022-11-07 21:39] robinschmid commented on #969
I am very sorry for the inconvenience.
We have been restructuring the metadata support to make it more flexible and we are still in the process of fixing the export.
I will look into this.

[2022-11-07 22:02] asmirn1 commented on #925
@adriherar Could you attach your MZmine project file here (or upload it on Google Drive, etc.), so we could reproduce the error?

Alex

[2022-11-07 22:18] ZarluisMijangoR commented on #978
Yes, there was a recent update (which I did) from MacOS Monterrey to Ventura. Interestingly, I was using zoom today and I had an error installing the new version, and I had to download the new version manually. This might be the issue!? Not sure how to fix it for MZmine :'(

Best,
Zarluis

[2022-11-08 02:25] adriherar commented on #925
Hello Alex,

I can´t save the project after the linear normalization process. I'll place the link with the project until the hierarchical clustering. [[https://drive.google.com/file/d/1LHPtpN_3eM672rRcyDWvmNrFy-DNdTSv/view?usp=share_link]](url)

What I do after normalization (parameters are set in the third picture) is the alignment using the adapt aligner GC, the parameters are set in the fourth

[2022-11-08 13:40] asmirn1 commented on #925
@adriherar

Thank you for a detailed description. We'll test it on your data.

Alex

[2022-11-08 20:47] tnguy271 commented on #925
@adriherar
We fixed the alignment issue. Could you try it again?
Toan

[2022-11-09 01:13] adriherar commented on #925
@tnguy271

Thank you for your message.

As an update, now I can save the project after the normalization. I could also use the alignment (first picture) but when I set gap filling there's an issue using the peak finder (second pic).

Finally, when I was trying to save the project until the alignment part, appears a problem (third picture).

I'm attaching the file until the normalization part: [htt

[2022-11-09 07:39] IEECAS008 commented on #971
hi， when  I try to save the mzmine3 project, it comes out this error
![image](https://user-images.githubusercontent.com/117164972/200767944-d4d4037d-fa8e-4cc4-aec1-25b1d909c9f4.png)

[2022-11-09 07:56] SteffenHeu commented on #971
which raw data modules did you run exactly?
Never seen this in the Mass detection module

[2022-11-09 08:17] IEECAS008 commented on #971
see the batch from googlr drive,thx
https://drive.google.com/drive/folders/12i5OVA8eSZGGtKXSSD9EPVT1ya1ZO5Ad?usp=sharing

[2022-11-09 08:18] IEECAS008 commented on #971
I run the thermo raw data

[2022-11-09 08:36] SteffenHeu commented on #971
are you using any other modules prior to the adap chromatogram builder?

Can you right click on a file, go to "show file summary" and then screenshot the parameters of these modules?

[2022-11-09 19:45] robinschmid commented on #978
Did you try installing the development version which was compiled more recently

[2022-11-09 19:46] robinschmid opened #987 "Factor of lowest mass detector for profile"
- using exact mass with threshold 0
- then change the batch wizard to use the factor of lowest mass detector and auto detect if centroid or profile
- have option to override the auto detect

[2022-11-09 20:37] SteffenHeu commented on #971
This issue should be fixed in the latest development build: https://github.com/mzmine/mzmine3/releases/tag/Development-release

[2022-11-10 01:38] IEECAS008 commented on #971
You guys are amazing. THX  so much.
 Hope you can help to fix why the different result of formula prediction from mzmine3 and mzmine2.3.5.
see MZmine 2 and 3 batch from googlr drive,thx
https://drive.google.com/drive/folders/12i5OVA8eSZGGtKXSSD9EPVT1ya1ZO5Ad?usp=sharing

[2022-11-10 01:38] IEECAS008 commented on #971
You guys are amazing. THX so much.
Hope you can help to fix why the different result of formula prediction from mzmine3 and mzmine2.3.5.
see MZmine 2 and 3 batch from googlr drive,thx
https://drive.google.com/drive/folders/12i5OVA8eSZGGtKXSSD9EPVT1ya1ZO5Ad?usp=sharing

[2022-11-10 01:47] ZarluisMijangoR commented on #978
I believe I have not tried this, where I can find this development version?

Thanks in advance,
Zarluis

[2022-11-10 11:39] Landkaml opened #989 "Crashed during Mass Detection"
[mzmine_0_0.log](https://github.com/mzmine/mzmine3/files/9980940/mzmine_0_0.log)
[mzmine_1_0.log](https://github.com/mzmine/mzmine3/files/9980941/mzmine_1_0.log)
[mzmine_2_0.log](https://github.com/mzmine/mzmine3/files/9980942/mzmine_2_0.log)
Windows Server 2019 Standart
Procesor: AMD Opteron Processor 6272
RAM: 128 GB
Mzmine 3.2.8

### What happened
I tried to analyze 256 files in .mzXML format w

[2022-11-13 11:11] AKS-NZ opened #992 "MS/MS scans"
### Basic information

* My operating system:
![image](https://user-images.githubusercontent.com/117885062/201510513-b3e94b21-343c-4b2d-a057-6b3014d493d8.png)
* My MZmine version:
MZmine 3.2.8
### What happened

* Please describe what happened and how it differs from what you expected to happen.
In spite of checking the box for MS/MS scan pairing in the 'Resolving' step, the results do not show th

[2022-11-14 11:54] Adityasaini10012001 commented on #992
assign this to me

[2022-11-14 16:53] NotReallyContributing opened #993 "NIST MS Search, cannot find the path specified"
### Basic information

My operating system: Windows 10 PRO 64-bit (10.0, build 19044)
My MZmine version: 3.2.8
My Java version: Version 8 Update 341

### What happened

When using Annotation -> NIST MS Search on a resolved chromatogram, I receive and error stating “The system cannot find the path specified”. The online compound annotation (KEGG) works for the tested chromatogram.

The module appea

[2022-11-14 18:16] tnguy271 commented on #925
hi @adriherar, Can you try the latest development version? Please let me know if you're still facing problems.

[2022-11-14 22:45] hhabra opened #994 "Unhandled Exception in Saving Feature List task"
### Basic information

* My operating system and version: Mac OS X 12.6.1
* My MZmine version: 3.2.8

### What happened

Attempting to save my project led to the following error:
![image](https://user-images.githubusercontent.com/8129799/201783208-294054b9-856b-4dc7-926e-3e76c0118e61.png)

**Project:** I have 48 DDA files whose MS/MS spectra I would like to gather into a single .mgf file.

**Actio

[2022-11-15 07:57] SteffenHeu commented on #994
Hi hhabra, thanks for reporting the issue.

can you test the auto build from this PR and let us know if it works?
https://github.com/mzmine/mzmine3/pull/995

[2022-11-15 10:50] mountfort opened #996 "Own library match still not working"
### Basic information

* Windows 10
* 3.2.8
### What happened

Hello,

So I can not seem to get the annotation to work using our library that did work in MZmine 2 but no longer works in MZmine 3...

I have modified the column headers to match but that is still not working. I have also tried changing from European style to UK style numbering but again no joy... Any thoughts?

Alex
[Tuulia  Libary c

[2022-11-15 10:51] mountfort commented on #996
https://seafile.utu.fi/d/b5f86aad1d1c49ffa23a/
here is the link to the project

[2022-11-15 18:23] hhabra commented on #994
Hello Steffen,
Unless I did things incorrectly, I'm afraid I'm getting the same error (I pulled repository with git and built using ./gradlew). The version of the app appears to be 3.2.53.

[2022-11-16 02:06] adriherar commented on #925
Hi @tnguy271 thanx for your message.

Everything is great with the latest version. I have finished all the data processing (figure 1) and I can save the project at any time during the process. However, when I try to download the file in .CSV extension there is a problem (figure 2-4).

When we export the .cvs extension in the 2.53 version we use the following parameters (.csv file example figure 5)

[2022-11-16 10:31] Batelhag commented on #950
@tomas-pluskal We have the same problem. have you found a solution?

[2022-11-16 10:43] Kotchanipa commented on #950
@Batelhag Did you try to import mzML files by choosing them as a batch? It works for me.

[2022-11-16 10:56] Batelhag commented on #950
@Kotchanipa I just tried it and it worked. Thanks!

[2022-11-16 11:52] DPC7 opened #998 "Spectral Deconvolution Step Error"
### Basic information

* My operating system: Ubuntu 22.04 LTS
* My MZmine version: 3.2.8

### Issue facing
Hi, I am preprocessing GC-MS raw spectra data. I successfully carried out mass detection, Chromatogram building, and the chromatogram deconvolution step. But when I tried the **Spectral Deconvolution (GC)** step with **Hierarchial clustering**, I found the preview pane is not working when I

[2022-11-16 12:54] omokshyna commented on #950
@Batelhag @Kotchanipa We are looking into the issue now. Could you, please, describe an exact procedure, by which you were able to upload the files? Thanks!

[2022-11-16 13:50] nic-Oban commented on #974
Hello,
I agree that when you have several opened tabs, that might be easier to quickly find the one you want to see. However, I understand the problem with label size.
Maybe a tooltip when mouse-over?

[2022-11-16 14:54] nic-Oban opened #999 "Scan by Scan Filtering replaced by Baseline Correction in File Summary, batch queue and saving project"
### Basic information

* My operating system and version: Windows 10
* My MZmine version: 3.2.48

### What happened

* Please describe what happened and how it differs from what you expected to happen.
Using "Show File Summary", the Scan by Scan Filtering module used is replaced by the Baseline Correction one (with default parameters) and propagated to the batch mode using "Open in Batch Queue".
F

[2022-11-16 15:27] tnguy271 commented on #925
@SteffenHeu @robinschmid Is this an issue with export module? could you have a look? Thank you

[2022-11-16 20:08] #780 closed

[2022-11-16 20:19] robinschmid commented on #994
Is it chromatography data? Then you should consider using the local minimum resolver or similar to split the chromatograms into features.
Another way to download is to scroll down here:
https://github.com/mzmine/mzmine3/actions/runs/3468498870

[2022-11-16 22:45] hhabra commented on #994
Yes, it is liquid chromatography data. Are the peak resolving steps necessary if I only want to gather the MS2 data into a MGF file? My current process is: Raw data import → Mass Detection (MS = 1) and Mass Detection (MS = 2) → MSn feature list builder (MS level = 2) → 13C Isotope Filter → Join Aligner → Export as GNPS - Feature Based Molecular Networking
The issue is that MZmine is not able to sa

[2022-11-17 10:52] nic-Oban opened #1000 "ADAP Aligner (GC) and Saving Project"
### Basic information

* My operating system and version: Windows 10
* My MZmine version: 3.2.48

### What happened

* Please describe what happened and how it differs from what you expected to happen.
After ADAP Aligner (GC) module, I can't save my project anymore. I ran again the workflow from the beginning saving and opening the project at each step and I had no problem before the Aligner.

* P

[2022-11-17 10:58] mountfort commented on #996
Worked out my issue...

[2022-11-17 10:58] #996 closed

[2022-11-17 11:06] tomas-pluskal commented on #996
Hi Alex,

Sorry for the late reply, but could you please let us know what the problem
was?

Tomas

On Thu, Nov 17, 2022 at 11:58, Alex Dickens ***@***.***>
wrote:

[2022-11-17 11:09] mountfort commented on #996
Hi Tuomas

No worries it was that the default column that you see is the manual ID not the database ID which is a few columns over! To be fair both Tuulia and I have been wondering this for a while!

Alex

Sent from my Galaxy

-------- Original message --------
From: Tomáš Pluskal ***@***.***>
Date: 17/11/2022 13:06 (GMT+02:00)
To: mzmine/mzmine3 ***@***.***>
Cc: Alex Dickens ***@***.***>, State c

[2022-11-17 14:34] MaxFeuerstein opened #1001 "SWATH data in mzMine3"
**Is your feature request related to a problem? Please describe.**
So far, I haven't found a SWATH option in MZmine3 and I hope I haven't overlooked it.
It would be great to add this to the MZmine toolbox!

**Describe the solution you'd like**
Similar to the MS-DIAL workflow, I would suggest that the user has to provide a table (.txt) with scan information. I am not sure if this information is mai

[2022-11-17 22:33] adriherar commented on #925
Hello there,

I'm still facing problems exporting the .CSV file with the 3.2.54 version.

Thank you in advance for your help.

![image](https://user-images.githubusercontent.com/116106346/202574193-1410ab11-e25e-40b4-a468-d5678cf04b34.png)

[2022-11-18 10:51] RMdCeR commented on #978
Hi,

I have the same issue than @ZarluisMijangoR. Currently running Ventura 13.0.1 on Mac M1.

Any idea when a fix would be available for this issue?

Thanks!

[2022-11-18 10:58] tomas-pluskal commented on #978
Could you try adding MZmine to this list in the System preferences?
Let us know if that helped.

![fix-damaged-apps-ventura](https://user-images.githubusercontent.com/1796692/202689731-08266d1e-d64d-4a1c-9360-3313b1e425ba.jpg)

[2022-11-18 14:55] asmirn1 commented on #998
@DPC7

Could you try the latest version and let us know if you are still having issues?

Alex

[2022-11-19 15:02] PhilippTernes opened #1007 "CSV exports rounds to 2 digits"
### Basic information

* My operating system and version: Windows 10 Enterprise
* My MZmine version: 3.2.8

### What happened

This is what I did:

* Finished data processing and came up with a nice aligned feature list.
* Exported the aligned feature list as CSV (either using to CSV item or the GNPS item from the 'Export Feature Liste' menue). When using the GNPS menu item, I selected either COMP

[2022-11-19 17:59] robinschmid commented on #1007
Yeah thats a real issue actually.
You can change the number format in the preferences. That controls both the export and visuals in mzmine.

I think w should add a default option there to extend all values by 2 digits. Or maybe have separate formats for export

[2022-11-19 18:07] tomas-pluskal commented on #1007
In the past we did not reformat the values for export, is that a new feature/bug?
Why not use the default `Double.toString()` method?

[2022-11-19 18:18] robinschmid commented on #1007
Some modules format the values others not.
I think it's bad practice to export just the Double or Float value and it bloats the exported files massively.
But it is an issue to just use the visualization formats.

[2022-11-19 19:23] leizhon commented on #978
Hi Tomas,

I am facing the same problem as described by Zarluis and already tried your suggestions, but unfortunately, it still did not work.

Thanks,
Lei

[2022-11-19 19:43] leizhon commented on #978
Hi all,

I already figured out the problem and can run the new version on my Mac. You might need to open MZmine.app using the terminal.

Best,
Lei

[2022-11-19 19:52] leizhon commented on #978
I tried several times and definitely it works now.

[2022-11-19 19:53] tomas-pluskal commented on #978
@leizhon Can you write more details how exactly you solved the issue?

[2022-11-19 20:30] leizhon commented on #978
![WechatIMG140](https://user-images.githubusercontent.com/102558284/202870476-77557af9-125f-4d7a-b2d6-909e93434f11.jpeg)

![WechatIMG141](https://user-images.githubusercontent.com/102558284/202870489-0cb07ca9-c064-4122-bde9-96268b3ea176.jpeg)

[2022-11-19 20:39] tomas-pluskal commented on #978
Ok thanks, we'll look into it.

[2022-11-20 23:35] RMdCeR commented on #978
Hi all,

I have added the program to the developed tools list and I've tried to open it through the terminal as suggested by @leizhon , but the same error keeps popping.

@leizhon are u running Ventura on M1?

[2022-11-21 08:52] leizhon commented on #978
@RMdCeR
System info: Ventura 13.0 in M1 Pro

[2022-11-21 14:44] gdelap opened #1008 "Possibility to add a custom numeric column to feature tables"
Dear MZmine development team,

My current usage of MZmine is for raw data preprocessing to obtain a data matrix which is then subjected to various data analysis methods commonly used in metabolomics such as PCA or PLS-DA.

After the analysis, I always have a look back at the raw data in MZmine, I have always found that this step could be made easier, since that currently, I need to look at the tab

[2022-11-21 14:51] tomas-pluskal commented on #989
MZmine does not have any file limitations. It seems strange that the program would just crash suddenly. Could you try to run it on a different computer to see if you can reproduce the error?

[2022-11-21 16:49] SteffenHeu commented on #1008
Hi gdelap,

from what i understand it could be relatively easy with our now data model. However, i am not too familiar with the statistics part which comes after the feature detection with MZmine.

1. Are these values computed for individual features or for the whole row? Our annotation model is based on rows, not on features, so this is probably the crux.
2. What kind of values would you want to

[2022-11-21 18:21] #781 closed

[2022-11-21 18:25] SteffenHeu commented on #1001
Hi Max,

unfortunately we did not have the time to work on this yet. Since we have the required functionality now due to the DIA support, the groundwork is there if you want to contribute yourself. 😄 diaPASEF support would also be great.

[2022-11-21 21:32] robinschmid commented on #989
Make sure to setup the temp path in the preferences to a fast local drive with enough space.
We are saving temp files with the spectral data and the filtered mass lists. Maybe your drive is full at one point.

[2022-11-21 21:49] robinschmid commented on #1008
We could have a simple import of those columns and just add them as new columns like
PCA1 PCA2 PCA3 ...
For multiple methods we would just add a PCA column and then 1-5 for the components
https://www.youtube.com/watch?v=T02H4rwyCvk&t=381s

[2022-11-22 01:38] AKS-NZ commented on #992
Yes, I think I have - Pls see list of steps above.
If this is not what you mean, where do I do that? Can you send me a screenshot pls? I've been following the steps in your tutorial/video, and saw that not checking the MS/MS scan pairing in the resolving step, you ended with a similar result - no fragment scans in the result. And then you checked that box in the batch mode step, and then you got t

[2022-11-22 15:17] omokshyna commented on #903
Hi, @MarWolan! We are now working on solving a similar issue (see https://github.com/mzmine/mzmine3/issues/950) . Could you please re-upload your files so we can take a look? Thanks!

[2022-11-22 21:50] asmirn1 commented on #1000
I think we worked on this issue recently. @tnguy271 did we push these changes already?

[2022-11-23 15:15] nic-Oban commented on #999
Perfect, thanks ;)

[2022-11-23 15:16] #999 closed

[2022-11-23 15:22] tnguy271 commented on #1000
hi @nic-Oban I think this issue has been addressed. Could you try our newest development release? https://github.com/mzmine/mzmine3/releases/tag/Development-release

[2022-11-23 23:00] RMdCeR commented on #978
I'm on Ventura 13.0.1 in M1 Pro.

Can you walk us through what you did to get it to work?

[2022-11-24 08:37] omokshyna commented on #950
@Kotchanipa The line in your mzML files that is causing the abovementioned error is `<sourceFile id="RAW1" name="DOM_Interlab-LCMS_Lab15_A5M_Pos_MS2_rep2.raw" location="file:///D:\ป.โท\metaboworkshop\lab15">`. If you take a look into the location string, there are these characters - "ป.โท". If you remove them, the files should run fine

[2022-11-24 10:03] leizhon commented on #978
Here is the link for a screen recording. (The file was too bio to upload)
https://tubcloud.tu-berlin.de/s/yB9pry5WMWoYqbL

[2022-11-24 14:35] fuchsi3010 commented on #928
hi, i'm having the same issue... i have a lot of features in my feature list:
![image](https://user-images.githubusercontent.com/37498115/203807695-d5ce69c5-2948-4d3b-9308-60d445cb4eeb.png)
but if i go to visualize (ms data files tab → select file → show 2D plot → ok; in 2D Visializer: all features → _select feature list_ → load) i get 2 or 3 annotations:
![image](https://user-images.githubusercon

[2022-11-24 15:21] gdelap commented on #1008
Hi,

Thanks a lot for your answers.

Some answers for Steffen:

- For methods such as PCA, these values are computed for the whole row (maybe it should find its place near the row m/z and RT values at the beginning of the feature list).
- These value are double, that can take take any real value.
- Yes, we can do multiple methods, but in that case we could specify the method used in the header of

[2022-11-24 16:08] SteffenHeu commented on #1008
Thanks for the info. We won't add the ability to add user defined columns, as in setting the header names and loading individual values for them. However, we can add a single (or multiple, as needed) columns that can hold user defined values.

[2022-11-26 22:25] gomespwp opened #1010 "MZmine 3 is broken to the new masOS Ventura 13"
### Basic information

* My operating system and version: macOS venture 13
* My MZmine version: 3.2.8

### What happened

* After updating to macOS Ventura 13.0, MZmine 3 broke in my laptop, and also, when I tried to re-install it does not work anymore.

I tried with the following codes, but both are broken (https://mzmine.github.io/mzmine_documentation/getting_started.html):

sudo xattr -cr ../MZ

[2022-11-27 09:56] tomas-pluskal commented on #1010
This is a duplicate of #978, please follow that issue instead.

[2022-11-27 09:56] #1010 closed

[2022-11-27 09:57] tomas-pluskal commented on #978
@roman-bushuiev Is now working hard on implementing the code signing and notarization on macOS. It should be finished before the end of the year. That will be the ultimate solution for these problems.

[2022-11-28 14:35] nic-Oban commented on #1000
Hello @tnguy271, @asmirn1,
Thanks a lot for modifications, Saving works fine now!
Have a good day.

[2022-11-28 14:35] #1000 closed

[2022-11-28 16:59] robinschmid opened #1012 "JavaFX19 - TreeView.tableRow.isVisible is false for rows on the screen"
JavaFX 19 has some weird behavior. There are cells that are tagged invisible (the whole row actually) and are not printed then when you click on them the one cell appears

[2022-11-28 21:46] robinschmid commented on #992
in the resolving step you have the group MS2 spectra option and you have to press setup there

[2022-11-28 21:46] robinschmid commented on #992
You can also start a new batch mode by using the Batch Wizard and hit build batch. That will give you some starting batch mode and you can adjust options from there

[2022-11-30 03:34] IEECAS008 commented on #971
Hi Robin and Steffen, just wondering  if the difference in the number of formulas between mzmine 3 and mzmine 2 has been resolved. Thanks a lot

[2022-11-30 03:34] IEECAS008 commented on #971
Hi Robin and Steffen, just wondering if the difference in the number of formulas between mzmine 3 and mzmine 2 has been resolved. Thanks a lot